<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Hoy se juega</title>

  <!--CSS PROPIOS-->
  <link rel="stylesheet" href="/css/carrito.css">
  <link rel="stylesheet" href="/css/jdSlider.css" />
  <link rel="stylesheet" href="/css/headerJugador.css" />
  <link rel="stylesheet" href="/css/footer.css" />

  <!-- CSS EXTERNOS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Kalam&family=Roboto&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/bootstraps/plugins/bootstrap.min.css">
  <!-- PLUGINS DE JS -->
  <script src="https://kit.fontawesome.com/22284035c9.js" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/jdSlider.js"></script>


</head>

<body>
  
  <header class="main-header">
    <div class="menu">
      <div class="copy-header">
        <img src="/img/logo-rayas.png" alt="Logo de se juega?" class="logo">
        <div class="menu-cont2">
          <a class="txtNav1" href="/userPlayer/perfilDeJugador/<%- userLoggedPlayer.id %>">Mi perfil</a>
          <a class="txtNav1" href="/userPlayer/perfilDeJugador/<%- userLoggedPlayer.id %>/reservarCancha">Buscar
            Canchas</a>
          <a class="txtNav1" href="/userPlayer/perfilDeJugador/<%- userLoggedPlayer.id %>/equipo">Mi equipo</a>
          <a class="txtNav4" href="#"> <i class="fa-solid fa-person-running"></i> Nos falta uno</a>
          <a class="txtNav2" href="#"><i class="fa-solid fa-bell"></i></a>
          <a class="txtNav6" href="/userPlayer/logoutPlayer"><i class="fa-solid fa-arrow-right-from-bracket"></i> Chau
          </a>

        </div>
      </div>
    </div>
  </header>
  <br>
  <br>
  <br>
  <br>
  <main>

    <!-- TABLA CARRITO DE COMPRAS -->


    <div class="container-fluid">

      <div class="container">

        <div class="panel panel-default">


          <!-- CABECERA CARRITO DE COMPRAS -->

          <div class="panel-heading cabeceraCarrito">

            <div class="col-md-6 col-sm-7 col-xs-6 text-center">

              <h3>
                <small style="color: black;">CANCHA</small>
              </h3>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-3 text-center">

              <h3>
                <small style="color: black;"><i class="fa-solid fa-calendar-days"></i> <i
                    class="fa-solid fa-clock"></i></small>
              </h3>


            </div>


            <div class="col-md-2 col-sm-1 col-xs-2 text-center">

              <h3>
                <small style="color: black;">RESERVA</small>
              </h3>

            </div>
          </div>

          <!-- CUERPO CARRITO DE COMPRAS -->

          <div class="panel-body cuerpoCarrito">

            <!-- Producto 1 -->

            <div clas="row itemCarrito">

              <div class="col-sm-1 col-xs-2">

                <br>

                <button class="btn btn-default backColor text-start">

                  <i class="fa fa-times"></i>

                </button>

              </div>

              <div class="col-sm-5 col-xs-4">

                <br>

                <p class="tituloCarritoCompra text-center">Los Alamos / Cesped cintético</p>

              </div>

              <div class="col-md-4 col-sm-4 col-xs-3 text-center">

                <br>
                <p>Lunes 22:00 hs</p>
              </div>

              <div class="col-md-2 col-sm-1 col-xs-2 text-center">

                <br>

                <p>

                  <strong>$<span>1.000</span></strong>

                </p>

              </div>

            </div>

            <div class="clearfix"></div>

            <hr>

            <!-- Producto 2 -->

            <div clas="row itemCarrito">

              <div class="col-sm-1 col-xs-2">

                <br>

                <button class="btn btn-default backColor text-start">

                  <i class="fa fa-times"></i>

                </button>

              </div>

              <div class="col-sm-5 col-xs-4">

                <br>

                <p class="tituloCarritoCompra text-center">Los Alamos / Cesped cintético</p>

              </div>

              <div class="col-md-4 col-sm-4 col-xs-3 text-center">

                <br>
                <p>Sábado 22:00 hs</p>
              </div>

              <div class="col-md-2 col-sm-1 col-xs-2 text-center">

                <br>

                <p>

                  <strong>$<span>1.000</span></strong>

                </p>

              </div>

            </div>
            <div class="clearfix"></div>

            <hr>

          </div>


          <!-- SUMA DEL TOTAL DE PRODUCTOS -->


          <div class="panel-body sumaCarrito">
            <div class="col-md-3 col-sm-6 col-xs-12 pull-right well">
              <div class="col-xs-6">
                <h4>TOTAL:</h4>
              </div>
              <div class="col-xs-6">
                <h4 class="sumaSubTotal">

                  <strong>$<span>2200</span></strong>

                </h4>
              </div>
            </div>
          </div>
          <div class="ganacia-empresa" style="margin-left: 20px;">
          <h10> Se aplica un 10% de recargo por servicios de reserva online</h10>
          </div>
          <br>
          <div class="panel-heading cabeceraCheckout">
            <a href="/UserPlayer/perfilDeJugador">
              <button class="btn btn-default backColor btn-lg pull-right">REALIZAR PAGO</button></a>

          </div>

        </div>

      </div>

    </div>
  </main>
<%- include('../footer') %>
</body>