<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar reserva</title>

    <!--CSS PROPIOS-->
    <link rel="stylesheet" href="/css/registrarCancha.css">
    <link rel="stylesheet" href="/css/reservarCancha.css">
    <link rel="stylesheet" href="/css/globalForm.css">
    <!-- CSS EXTERNOS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Kalam&family=Roboto&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="tarjeta">
        <div class="item-tarjeta">
            <label name="registroDeDeporte">Deporte:</label>
            <select name="posicion" id="deporte" name="registroDeDeporte">
                <option value="0">-</option>
                <option value="1">Futbol</option>
                <option value="2">Paddle</option>
                <option value="3">Basquet</option>
            </select>
        </div>
        <div class="item-tarjeta">
            <label name="lugar">Zona</label>
            <input type="text" placeholder="Ej: San Fernando" required>
        </div>
        <div class="item-tarjeta">
            <label name="lugar">Lugar:</label>
            <select>
                <option value="-">Elegir cancha</option>
                <option value="lunes">Ladrones</option>
                <option value="martes">Murales</option>
                <option value="miercoles">Mérloc</option>
                <option value="jueves">Jugada peligrosa</option>
                <option value="viernes">Variables</option>
                <option value="sabado">Salomón</option>
                <option value="domingo">Dormiste</option>
            </select>
            <input type="text" placeholder="Ej: Club los Alamos" required>
        </div>


        <div class="item-tarjeta">
            <label name="id">Tipo de la cancha:</label>
            <select name="posicion" id="deporte" name="registroDeDeporte">
                <option value="0">-</option>
                <option value="1">Futbol 5 / Sintetico</option>
                <option value="2">Futbol 12 / Cesped</option>
                <option value="3">Basquet / Madera </option>
                <option value="4">Paddle simple </option>
                <option value="5">Paddle parejas </option>
            </select>
        </div>

        <div class="otro-item-tarjeta">
            <div class="item-tarjeta"><label name="horarios">Buscar disponibilidad horaria:</label></div>
            <select>
                <option value="-">Elegir día</option>
                <option value="lunes">Lunes</option>
                <option value="martes">Martes</option>
                <option value="miercoles">Miércoles</option>
                <option value="jueves">Jueves</option>
                <option value="viernes">Viernes</option>
                <option value="sabado">Sabado</option>
                <option value="domingo">Domingo</option>
            </select>
            <input type="time" class="form-control horaio" id="horarios" name="registroHorarios">
        </div>


        <div class="item-tarjeta boton-enviar">
            <a href="/elegirCancha"><button type="submit" name="enviar">Buscar</button></a>
        </div>
    </div>

</body>

</html