<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Hoy se juega</title>

  <!--CSS PROPIOS-->
  <link href="/css/vistaCanchaInfo.css" rel="stylesheet" />
  <link href="/css/jdSliderVistaCancha.css" rel="stylesheet" />
  <link href="/css/headerJugador.css" rel="stylesheet" />
  <link href="/css/footer.css" rel="stylesheet" />


  <!-- CSS EXTERNOS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Kalam&family=Roboto&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/bootstraps/plugins/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

  <!-- PLUGINS DE JS -->
  <script src="https://kit.fontawesome.com/22284035c9.js" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js" crossorigin="anonymous"
    defer></script>
  <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css" rel="stylesheet"
    crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/22284035c9.js" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- carrucell del slider -->

  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

</head>

<body>
  <header class="main-header">
    <div class="menu">
      <div class="copy-header">
        <img src="/img/logo-rayas.png" alt="Logo de se juega?" class="logo">
        <a href="#" class="menu-hamburguesa">
          <i class="fa-solid fa-bars"></i>
        </a>
        <div class="menu-cont2">
          <a class="txtNav1" href="/UserPlayer/perfilDeJugador">Mi perfil</a>
          <a class="txtNav1" href="/UserPlayer/equipo">Mi equipo</a>
          <a class="txtNav4" href="#"> <i class="fa-solid fa-person-running"></i> Nos falta uno</a>
          <a class="txtNav5" href="/UserPlayer/carrito">
            <i class="fa-solid fa-cart-shopping"></i> Mi reserva
          </a>
          <a class="txtNav2" href="#"><i class="fa-solid fa-bell"></i></a>
          <a class="txtNav6" href="/"><i class="fa-solid fa-arrow-right-from-bracket"></i> Chau
          </a>

        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="datos-del-lugar background">
      <h2>Club San Cristobal</h2>
      <div class="datos2-del-lugar">
        <ol>
          <li class="detalle1">
            <a href="https://goo.gl/maps/7KofjWncWWmHwyLp9">
              <i class="fa-solid fa-location-dot"></i> <span>Almte. Brown 371, Tigre. Buenos Aires</span>
            </a>
          </li>
          <li class="detalle2">
            <i class="fa-solid fa-shower"></i> <span>Vestuarios </span>
          </li>
          <li class="detalle2">
            <i class="fa-solid fa-utensils"></i><span> Parrilas </span>
          </li>
        </ol>
      </div>
      <div class="datos3-del-lugar">
        <ol>
          <li class="detalle2">
            <i class="fa-solid fa-car"></i><span> Estacionamiento </span>
          </li>
          <li class="detalle2">
            <i class="fa-solid fa-credit-card"></i><span> Medios de pagos: </span><span> Tarjeta de credito - Efectivo
              Mercado
              pago</span>
          </li>
          <li class="detalle2">
            <i class="fa-solid fa-video"></i><span> Grabación de partidos </span><span><i
                class="fa-solid fa-arrow-right-long"></i></span> </span><span> SI</span>
          </li>
        </ol>
      </div>

    </div>
    <div class="">
      <ul class="galeria">
        <li><a href="#img1"><img src="/img/img-canchas/cancha-home.jpg">
            <h2><i class="fa-solid fa-circle-plus signomas"></i></h2>
          </a>

        </li>
        <li><a href="#img2"><img src="/img/parrillas/p1.jpeg">
            <h2><i class="fa-solid fa-circle-plus signomas"></i></h2>
          </a>

        </li>
        <li><a href="#img3"><img src="/img/parrillas/e1.jpeg">
            <h2><i class="fa-solid fa-circle-plus signomas"></i></h2>
          </a>

        </li>
        <!-- <li><a href="#img4"><img src="http://neo-deco.es/wp-content/uploads/2013/01/Paisaje-de-monta%C3%B1a.jpg"></a>
        </li> -->
      </ul>

      <div class="modal" id="img1">
        <h3>Canchas</h3>
        <div class="imagen">
          <a href="">&#60;</a>
          <a href=""><img src="/img/img-canchas/cancha-home.jpg"></a>
          <a href=""><img src="/img/parrillas/c2.jpeg"></a>
          <a href=""><img src="/img/parrillas/c3.jpeg"> </a>
          <a href="#img2">></a>


        </div>
        <a class="cerrar" href="">X</a>
      </div>

      <div class="modal" id="img2">
        <h3>Parrilla y bufete</h3>
        <div class="imagen">
          <a href="#img1">&#60;</a>
          <a href=""><img src="/img/parrillas/p1.jpeg"></a>
          <a href=""><img src="/img/parrillas/p3.jpeg"></a>
          <a href=""><img src="/img/parrillas/p2.jpeg"></a>
          <a href="#img3">></a>
        </div>
        <a class="cerrar" href="">X</a>
      </div>

      <div class="modal" id="img3">
        <h3>Estacionamiento</h3>
        <div class="imagen">
          <a href="#img2">&#60;</a>
          <a href=""><img src="/img/parrillas/e1.jpeg"></a>
          <a href=""><img src="/img/parrillas/e3.jpeg"></a>
          <a href=""><img src="/img/parrillas/e2.png"></a>
          <a href="#img1">></a>
        </div>
        <a class="cerrar" href="">X</a>
      </div>
    </div>

    <div class="tarjetas">
      <div class="tarjeta">
        <div class="blob"></div>
        <span class="img"><img src="/img/redes/instagram.png" alt=""></span>
        <h2>Instagram</h2>
        <a href="https://www.instagram.com/eltrebolfutbol5/">
          <i class="fa-solid fa-user-plus"></i></a>

      </div>

      <div class="tarjeta">
        <div class="blob"></div>
        <span class="img">
          <img src="/img/redes/facebook.png" alt="">
        </span>
        <h2>Facebook</h2>
        <a href="https://www.facebook.com/eltrebolcampeonatos/">
          <i class="fa-brands fa-facebook-messenger"></i></a>
      </div>

      <div class="tarjeta">
        <div class="blob"></div>
        <span class="img">
          <img src="/img/redes/whatsapp.png" alt="">
        </span>
        <h2>Whatsapp</h2>
        <a href="https://www.whatsapp.com/?lang=es">
          <i class="fa-solid fa-mobile-screen-button"></i></a>
  </main>
  <section>
    <div class="separador1" id="proximoPartido">
      <h1>NUESTRAS CANCHAS</h1>
    </div>
  </section>
  <br>
  <br>
  <section>
    <!-- TABLA DE RESERVAS -->


    <div class="container-fluid">

      <div class="container">

        <div class="panel panel-default">


          <!-- CABECERA DE TABLA DE RESERVAS -->

          <div class="panel-heading cabeceraCarrito">
            <!-- <h4 style="color:rgb(0, 0, 0); font-family: Kalam;font-size: 25px; margin-left: 10px;"> Próximos
                  partidos</h4> -->
            <div class="col-md-2 col-sm-2 col-xs-2 text-center">

              <h3>
                <small>CANCHA</small>
              </h3>

            </div>
            <div class="col-md-3 col-sm-2 col-xs-2 text-center">

              <h3>
                <small>DETALLE</small>
              </h3>

            </div>
            <div class="col-md-2 col-sm-2 col-xs-3 text-start">

              <h3>
                <small>CANT. JUGADORES</small>
              </h3>

            </div>
            <div class="col-md-3 col-sm-4 col-xs-2 text-center">

              <h3>
                <small>VALOR POR EQUIPO</small>
              </h3>

            </div>
            <div class="col-md-2 col-sm-1 col-xs-2 text-center">

              <h3>
                <small>RESERVAR</small>
              </h3>

            </div>

          </div>

          <!-- CUERPO DE RESERVAS -->

          <div class="panel-body cuerpoCarrito">

            <!-- RESERVA 1 -->

            <div clas="row itemCarrito">

              <div class="col-md-2 col-sm-2 col-xs-2 text-center">
                <br>
                <p>1</p>
              </div>
              <div class="col-md-3 col-sm-2 col-xs-2">

                <br>

                <p class="tituloCarritoCompra text-center">Cancha de cesped cintético</p>

              </div>
              <div class="col-md-2 col-sm-3 col-xs-3">

                <br>

                <p class="precioCarritoCompra">14</p>

              </div>
              <div class="col-md-3 col-sm-3 col-xs-2 text-center">

                <br>
                <p>$3500</p>
              </div>
              <div class="col-md-2 col-sm-1 col-xs-2 text-center">

                <br>

                <p>

                  <a href="/agenda"><i class="fa-solid fa-calendar-days" style="color: green; font-size:
                    20px;"></i></a>

                </p>

              </div>

            </div>

            <div class="clearfix"></div>

            <hr>

  </section>
  <section>
    <div class="separador2">
      <h1>Escuelita de futbol</h1>
    </div>
    <section>
      <!-- TABLA DE RESERVAS -->


      <div class="container-fluid">

        <div class="container">

          <div class="panel panel-default">


            <!-- CABECERA DE TABLA DE RESERVAS -->

            <div class="panel-heading cabeceraCarrito2">

              <div class="col-md-2 col-sm-7 col-xs-2 text-center" style="padding-left: 5px">

                <h3>
                  <small class="categoria">CATEGORIA</small>
                </h3>

              </div>
              <div class="col-md-4 col-sm-7 col-xs-3 ">

                <h3>
                  <small class="text-center" >DETALLE</small>
                </h3>

              </div>
              <div class="col-sm-2 col-xs-2 text-start">

                <h3>
                  <small>GÉNERO</small>
                </h3>

              </div>
              <div class="col-md-2 col-sm-2 col-xs-2 text-center">

                <h3>
                  <small>VALOR </small>
                </h3>

              </div>
              <div class="col-md-2 col-sm-1 col-xs-2 text-center">

                <h3>
                  <small>RESERVAR</small>
                </h3>

              </div>

            </div>

            <!-- CUERPO DE RESERVAS -->

            <div class="panel-body cuerpoCarrito">

              <!-- RESERVA 1 -->

              <div clas="row itemCarrito">

                <div class="col-sm-2 col-xs-2 text-center">
                  <br>
                  <p>2000</p>
                </div>

                <div class="col-sm-4 col-xs-3">

                  <br>

                  <p class="tituloCarritoCompra text-center">Cancha de cesped</p>

                </div>

                <div class="col-md-2 col-sm-2 col-xs-2 text-center">

                  <br>

                  <p>MIXTO</p>

                </div>

                <div class="col-md-2 col-sm-2 col-xs-2">

                  <br>
                  <p class="valor"> $2000 </p>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-3 text-center">

                  <br>

                  <p>

                    <a href="/carrito">
                      <i class="fa-solid fa-user-plus" style="color: green; font-size:
                    20px;"></i></a>

                  </p>

                </div>

              </div>

              <div class="clearfix"></div>

              <hr>

    </section>
    <footer class="footer-main">

      <ul class="redes">
        <li>
          <a href="https://www.instapgram.com" style="text-decoration:none">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com" style="text-decoration:none">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li><a href="https://www.whatsapp.com/?lang=es" style="text-decoration:none">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </li>
        <li><a href="mailto:frangarcia93@icloud.com" style="text-decoration:none">
            <i class="fa-regular fa-envelope"></i>
          </a>
        </li>
        <li><i class="fa-solid fa-screwdriver-wrench"></i></li>
      </ul>

    </footer>
    <script src="/js/script.js"></script>

</body>

</html>