<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>¿Se juega?</title>

  <!-- PLUGINS DE CSS -->

  <link href="/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <!--=====================================
	PLUGINS DE JS
	======================================-->
  <script src="https://kit.fontawesome.com/22284035c9.js" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body>
  <header class="main-header">
    <div class="menu">
      <div class="copy-header">
        <img src="/img/logo-nuevo4.jpg" alt="Logo de se juega?" class="logo">
        <div class="menu-cont">
          <a class="txtNav1" href="./login">Iniciar sesion</a>
          <a class="txtNav2" href="./register">Registrarse</a>
          <a class="txtNav3" href="./sobreNosotros">Sobre Nosotros</a>
          <a class="txtNav4" href="#">Contacto de desarrollo</a>
        </div>
      </div>
    </div>
  </header>

  <div id=“slide” class=“row”>

    <ul>

      <li>
        <img src="img/baner/slide01.jpg" class="img-banner">
      </li>

      <!---
      <li>
        <img src="img/baner/slide02.jpg">
      </li>
      <li>
        <img src="img/baner/slide03.jpg">
      </li>
      <li>
        <img src="img/baner/slide04.jpg">
      </li>
    </ul>-->
      <!--<ol id="paginacion">

      <li item="1"><span class="fa fa-circle"></span></li>
      <li item="2"><span class="fa fa-circle"></span></li>
      <li item="3"><span class="fa fa-circle"></span></li>
      <li item="4"><span class="fa fa-circle"></span></li>
    </ol>
    <div class="flechas" id="retroceder"><span class="fa fa-chevron-left"></span></div>
    <div class="flechas" id="avanzar"><span class="fa fa-chevron-right"></span></div>-->




  </div>

  <main class="main-home">

    <div class="jugador-home">
      <p> Si sos jugador puedes:
      <ol>
        <li>Armar tu perfil de jugador</li>
        <li>Informar o sumarte a un equipo</li>
        <li>Encontrar tu cancha</li>
        <li>Y a jugar!!!</li>

      </ol>
      </p>
      <div class="imagen-home imagen-jugador">

        <img src="/img/jugador-home.jpg" alt="imagen-jugador">
      </div>
    </div>



    <div class="cancha-home">
      <p>Si sos dueño de cancha puedes:
      <ol>
        <li>Registrar tu cancha</li>
        <li>Ofrecer tus servicios</li>
        <li>Crear torneos</li>
      </ol>
      </p>

      <div class="imagen-home2 imagen-cancha"><img src="/img/cancha-home.jpg" alt="imagen-cancha"></div>

    </div>

    <div class="publicidades">
      <img src="/img/publicidad/publicidad.png" alt="imagen publicitaria" class="img-publicidad1">
      <img src="/img/publicidad/publicidad1.png" alt="imagen publicitaria" class="img-publicidad2">
    </div>

  </main>

  <footer>

    <h1>
      Esto de acá abajo es el footer
    </h1>

    <ul class="redes">
      <li>
        <a href="https://www.instapgram.com">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li><a href="https://www.whatsapp.com/?lang=es">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </li>
      <li><a href="mailto:frangarcia93@icloud.com">
          <i class="fa-regular fa-envelope"></i>
        </a>
      </li>
      <li><i class="fa-solid fa-screwdriver-wrench"></i></li>
    </ul>

  </footer>
  <script src="/js/slide/slide.js"></script>
  <script src="/js/menuScroll.js"></script>
</body>

</html>