<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>¿Se juega?</title>

  <!-- PLUGINS DE CSS -->

  <link href="../public/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <!--=====================================
	PLUGINS DE JS
	======================================-->
  <link rel="stylesheet" href="/path/to/luge.css">
  <script src="/path/to/luge.js"></script>
  
  <script src="https://kit.fontawesome.com/22284035c9.js" crossorigin="anonymous"></script>

  <script>
    function openNav() {
      document.getElementById("menu").style.display = "block";
    }

    function closeNav() {
      document.getElementById("menu").style.display = "none";
    }
  </script>
</head>

<body>

  <header class="main-header">
    <div id="menu" class="menu">
      <a href="javascript:void(0)" class="close" onclick="closeNav()">&times;</a>
      <div class="menu-cont">
        <a href="./login.html">Iniciar sesion</a>
        <a href="./register.html">Registrarse</a>
        <a href="./sobreNosotros.html">Sobre Nosotros</a>
        <a href="#">Contacto de desarrollo</a>
      </div>
    </div>
    <div class="copy-header">
      <img src="../public/img/logo-nuevo.png" alt="Logo de se juega?" class="logo">
      <img src="../public/img/slide2.jpg" class="rounded" alt="Slide" class="slide">
      <span class="menu-font" onclick="openNav()">&#9776;</span>
    </div>
  </header>
  <br>
  <footer>

    <h1>
      Esto de acá abajo es el footer
    </h1>

    <ul class="redes">
      <li>
        <a href="https://www.instagram.com">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li><a href="https://www.whatsapp.com/?lang=es">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </li>
      <li><a href="mailto:frangarcia93@icloud.com">
          <i class="fa-regular fa-envelope"></i>
        </a>
      </li>
      <li><i class="fa-solid fa-screwdriver-wrench"></i></li>
    </ul>




  </footer>

</body>

</html>