<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>¿Se juega?</title>

  <!-- PLUGINS DE CSS -->

  <link href="../public/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <!--=====================================
	PLUGINS DE JS
	======================================-->
  <link rel="stylesheet" href="../public/css/font-awesome.min.css">
</head>

<body>
  <!--=====================================
CABECERA
======================================-->
  <header class="main-header">

    <div>

      <div>
        <img src="../public/img/logo.png" alt="Logo de se juega?" class="logo">
        <ul class="nav nav-justified py-2 copy-header nav-pills ">

          <li class="nav-item">
            <a class="nav-link active b1" href="../views/register.html">Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active b2" href="../views/login.html">Iniciar sesion</a>
          </li>

        </ul>

      </div>

    </div>
    
</body>

</html>