<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/registrarCancha.css">
</head>
<body>

    <div class="tarjeta">
        <div class="item-tarjeta">
            <label name="id">Identificación de la cancha:</label>
            <input type="text" placeholder="Ej: Cancha 1" required >
        </div>

        <div class="item-tarjeta">
            <label name="registroDeDeporte">Deporte:</label>
                <select name="posicion" id="deporte" name="registroDeDeporte">
                    <option value="0">-</option>
                    <option value="1">Futbol</option>
                    <option value="2">Paddle</option>
                    <option value="3">Basquet</option>
                </select>
        </div>
        
        <div class="item-tarjeta">
            <label name="capacidad">Capacidad de la cancha:</label>
            <input class="foto" type="text" placeholder="Ej: 10 jugadores" accept=".jpg .png" multiple>
        </div> 

        <div class="item-tarjeta">
            <label name="cargar-imagen">Cargar imagen</label>
            <input type="file" >
        </div>
        
        <div class="item-tarjeta">
            <button type="submit" name="enviar">Enviar</button>
        </div>
    </div>

</body>
</html