<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/registrarCancha.css">
</head>
<body>

<div class="card">
<label name="id">Identificación de la cancha:</label>
<input type="text" placeholder="Cancha 1" required >

<label name="registroDeDeporte">Deporte:</label>
            <div>
              <select name="posicion" id="deporte" name="registroDeDeporte">
                <option value="0">-</option>
                <option value="1">Futbol</option>
                <option value="2">Paddle</option>
                <option value="3">Basquet</option>
              </select>
            </div>
<label name="capacidad">Capacidad de la cancha:</label>
<input type="text" placeholder="10 jugadores" accept=".jpg .png" multiple>

<label name="cargar-imagen">Cargar imagen</label>
<input type="file" >
</div>
</body>
</html