<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tus Canchas</title>
    <link rel="stylesheet" href="./css/vistaCancha.css">
</head>
<body>
    <header class="main-header">
        <div class="menu">
          <div class="copy-header">
            <img src="/img/logo-nuevo4.jpg" alt="Logo de se juega?" class="logo">
            <div class="menu-cont">
              <a class="txtNav1" href="./loginPlayer">Iniciar sesion jugador</a>
              <a class="txtNav1" href="./loginCourt">Iniciar sesion cancha</a>
              <a class="txtNav2" href="./register">Registrarse</a>
              <a class="txtNav3" href="./sobreNosotros">Sobre Nosotros</a>
              <a class="txtNav4" href="#">Contacto</a>
            </div>
          </div>
        </div>
      </header>


      
    <main>
<div class="datos-del-lugar">
<h2>Club San Cristobal</h2>
<h4>Dirección: Calle Tierra Fertil 4562 </h4>
</div>
        <p class="sin-canchas">Aún no tienes canchas registradas</p>
        <a href="/registrarCancha" class="boton-registrar-cancha">+ Registrá tu cancha</a>
   



<p>Lorem ipsum dolor sit amet,
     consectetur adipiscing elit, 
     sed do eiusmod tempor incididunt ut 
     labore et dolore magna aliqua. Ut enim ad minim veniam, 
     quis nostrud exercitation ullamco laboris nisi ut aliquip 
     ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
     in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
     Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
     officia deserunt mollit anim id est laborum.</p>

</main>

    <footer class="footer-main">

        <ul class="redes">
          <li>
            <a href="https://www.instapgram.com">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
          <li><a href="https://www.whatsapp.com/?lang=es">
              <i class="fa-brands fa-whatsapp"></i>
            </a>
          </li>
          <li><a href="mailto:frangarcia93@icloud.com">
              <i class="fa-regular fa-envelope"></i>
            </a>
          </li>
          <li><i class="fa-solid fa-screwdriver-wrench"></i></li>
        </ul>
    
      </footer>
    
</body>
</html>