*{
    margin:0;
    
}

body {
    background-image: url(/img/probando-fondo-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.agenda{
    display: flex;
    justify-content: center;
}

.columna{
    width: 130px;
    text-align: center;
}
h2{
    padding: 20px;
    text-align: center;
    color: #ebebeb;
}
.filas{
    font-size: 1em;
    margin:20px
}
.filas-horarios div{
    padding: 10px;
    height: 22px;
    font-size: 23px;
    text-align: center;
    background-color: #73b8ae;
    border-radius: 10px;
    
}

.filas button{
    width: 100px;
    padding: 10px;
    height: 42px;
    border:none;
    border-radius: 10px;
}