* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }
 
  body{  
background-color: #e8e8e8
  }

  
  /*=============================================
  SLIDESHOW
  =============================================*/
  
  .slide-area li {
    position: relative;
  }
  
  .slide-text {
    position: absolute;
    color: #fff;
    width: 70%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 85%;
    text-shadow: 0px 0px 5px black;
  }

/*----MAIN----*/
main{
    background-color: #e8e8e8;
    background-size: cover;
    padding: 40px;
}

/* From uiverse.io by @satyamchaudharydev */
.card {
  --width: 190px;
  --height: 210px;
  --primary: #00b9ae;
  --text: #f9f9f9b2;
  --secondary: #f9f9f933;
  --radius: 20px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  width: var(--width);
  height: var(--height);
  background: linear-gradient(
      180deg,
      rgba(22, 24, 30, 0) 0%,
      rgba(22, 24, 30, 0.7) 65.28%
    ),
    linear-gradient(0deg, rgba(22, 24, 30, 0.4), rgba(22, 24, 30, 0.4));
  background-size: cover;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 0.8em;
  padding-top: 1.4em;
}



.cancha {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #e0e0e0;
    background: linear-gradient(
      180deg,
      rgba(22, 24, 30, 0) 0%,
      rgba(22, 24, 30, 0.7) 65.28%
    ),
    linear-gradient(0deg, rgba(22, 24, 30, 0.4), rgba(22, 24, 30, 0.4));
    color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
    margin: 20px;
    position: relative;
   }

.cancha:hover{
    width: 280px;
}

.imagen-cancha{
    width:100%;
    height: 50%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.cinco-estrellas{
    margin:10px
}
.cinco-estrellas img{
    width:20px;
}

.deporte{
    margin: 10px 20px 0px 20px;
}
.zona{
    margin-left:20px;
    width:70%
}

.cancha button {
  border: none;
  background: none;
  cursor: pointer;
  background: var(--primary);
  color: #fff;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.2s;
}

.cancha button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.cancha .boton-mas {
  color: #fff;
  padding: 0.5em 0.8em;
  background: rgba(249, 249, 249, 0.2);
  border-radius: 14px;
  position: absolute;
  right: 0;bottom: 0;
  margin: 20px;
}
  /*----FOOTER----*/

.redes {
    font-size: 30px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, red, orange, yellow, green, blue);
    width: 100%;
  }
  
  .redes i {
    border: solid 1px white;
    border-radius: 100%;
    padding: 10px 10px;
    margin: 0 10px;
    color: white;
    transition: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .redes i:hover {
    opacity: 0.8;
  }
  
  .fa-whatsapp {
    background-color: #075e54;
  }
  
  .fa-facebook {
    background-color: #3b5998;
  }
  
  .fa-instagram {
    background-color: #c13584;
  }
  
  .fa-envelope {
    background-color: #0089f8;
  }
  
  .fa-screwdriver-wrench {
    background-color: #000000;
  }
  
  @media (min-width: 425px) {
    .main{
        display: flex;
        flex-direction: row ;
        flex-wrap: wrap;

    }
     }

  /*@media (min-width: 769px) {
  .cancha{
      box-shadow: none;
      background-color: #e8e8e8;}

.cancha img{
    border-radius: 30px;
}

      }*/