* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
.titulo-equipo{
  text-align: center;
  margin: 100px;
  font-family: 'Satisfy', cursive;
  font-size: 60px;
}
.mi-equipo{
  display: flex;
  justify-content: space-evenly;
}
.cancha{
  position: relative;
}
.img-persona{
  position: absolute;
  width: 45px;
}
.jugador1{
  left: 44.5%;
}
.jugador2{
  left: 5%;
  top: 30%;
}
.jugador3{
  left: 27%;
  top: 22%;
}
.jugador4{
  left: 62%;
  top: 22%;
}
.jugador5{
  left: 84%;
  top: 30%;
}
.jugador6{
  left: 30%;
  top: 42%;
}
.jugador7{
  left: 27%;
  top: 71%;
}
.jugador8{
  left: 59%;
  top: 42%;
}
.jugador9{
  left: 12%;
  top: 51%;
}
.jugador10{
  left: 62%;
  top: 71%;
}
.jugador11{
  left: 77%;
  top: 51%;
}