body{
  font-family: "Bangers", cursive;
  background-color: #3a3a6a;
}

h1 {
  text-align: center;
  margin: 50px;
  font-size: 50px;
}
.contenedor-general{
  display: flex;
  flex-direction: row;

  width: 100%;
}
.contenedor-imagen{
  background-image: url(/img/rectangulo-register.jpg);
  background-repeat: no-repeat;
  width: 40%;
  position: relative;
  box-shadow: -30px 10px 60px -10px rgb(0 0 0 / 75%);
}
.logo img{
  width: 100%;
  position: absolute;
  left: 0;
  visibility: hidden
}
.horizontal{
  display: flex;
}
.text-danger.msg{
  font-size: small;
  margin: 2px;
  padding: 2px;
}

.formulario-div {
  width: 70%;
  font-size: 20px;
  margin: auto;
}
.formulario-div2 {
  width: 70%;
  font-size: 20px;
  margin: auto;
}
.input-group{
  display: block;
}

.div1 {
  padding: 20px;
  background: #ffffff;
  box-shadow: 10px 10px 64px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 64px 0px rgba(58, 58, 58, 0.75);
  -moz-box-shadow: 10px 10px 64px 0px rgba(102, 100, 98, 0.75);
}
.div2 {
  padding: 20px;
  padding-bottom: 50px;
  background: #ffffff;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 10px 10px 64px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 64px 0px rgba(58, 58, 58, 0.75);
  -moz-box-shadow: 10px 10px 64px 0px rgba(102, 100, 98, 0.75);
}
.form-control{
  margin-bottom: 2%;
}

.entre-divs{
  margin-left: 25px;
}

select{
  padding: 2px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
#dias{
  font-size: 13px;
}

.entre-divs8 {
  margin:25px
}
.entre-divs9 {
  /*margin-left: 100px; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* margin-left: 300px; */
    height: 50px;
    width: 310px;
    margin: 50px auto;
}

.contenedor-input{
  position: relative;
  
}

.imagen{
  width: 100%;
}
/* .input-imagen-escondido{
  font-size: 10px;
  height: 20px;
  opacity: 1;
  z-index: 0;
  left: 0;
  -moz-opacity: 0;
}
.input-imagen-visible{
position: absolute;
top: 0px;
z-index: 1;
font-size: 20px;

} */

.divCargar{
font-size: 10px;
}

.entre-divs{
  width: 50%;
}
.divDias{
  margin-top: 20px;
}
.divDias2{
  margin-top: 10px;
}
#horarios {
font-size: 10px;
width: 50%;
margin-top: 5px;
margin-bottom: 5px;
}
.divAlerta{
  width: 25%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  border: 1px solid rgba(0, 0, 0, 0.657);
  border-radius: 10px;
  box-shadow: 10px 10px 64px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 64px 0px rgba(58, 58, 58, 0.75);
  -moz-box-shadow: 10px 10px 64px 0px rgba(102, 100, 98, 0.75);
}

/* Boton de enviar datos*/
button {
  font-family: inherit;
    font-size: 30px;
    text-align: center;
    background: rgb(14, 84, 225);
    color: rgb(0, 0, 0);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: solid 1px black;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.6s;
    width: fit-content;
    height: 60%;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
button:hover .svg-wrapper-1 {
  animation: fly-2 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(4em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(9em);
}

button:active {
  transform: scale(0.95);
}
input{
  max-width: 80%;
 }

@media (min-width: 768px){
  .contenedor-general{
   margin: 60px auto;
width: 80%; 
  }
  input{
    max-width: 100%;
   }
   .img-cancha{
    margin-left: 10px;
   }
   .div2{
    border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
   }
   .contenedor-imagen{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
   }
}

@media (min-width: 1024px){
  .contenedor-general{
   margin: 100px auto;
width: 70%; 
  }

}
@media (min-width: 1440px){
  .contenedor-general{
   margin: 100px auto;
width: 60%; 
  }
  .img-cancha{
    margin-left: 30px;
   }

}

@media (min-width: 1700px){
  .img-cancha{
    margin-left: 100px;
   }

}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
.volver{
  background-color: rgba(255, 0, 0, 0.721);
  /*margin-left: 100px;*/
  display: flex;
  justify-content: center;
  font-size: 30px;
}
a{
  color:black;
}

.medios-de-pago{
  margin-left:50px;
}
