header {
  border: 0px solid rgb(0, 0, 0);
  height: 130.25px;
  text-align: center;
}

.menu {
  height: 135px;
  width: 100vw;
  background: linear-gradient(to right, #000000, #000000, #0166f7, #bd6cca);
  color: white;
  text-align: center;
  position: fixed;
  z-index: 5;
}

.menu-hamburguesa i {
  position: absolute;
  right: 20px;
  top: 50px;
  font-size: 40px;
  color: white;
}

.menu-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  visibility: hidden;
}

.menu a {
  padding: 8px;
  display: block;
  font-size: 100%;
  text-decoration: none;
  transition: 0.5s;
  font-size: 20px;
}

.menu a:hover,
.menu a:focus {
  background-color: black;
  text-decoration: none;
  color: #fff;
}

.copy-header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.logo {
  height: 100px;
  display: flex;
  align-items: start;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 0 30px 30px 0;
  padding: 0px 0px;
  margin: 15px 0 5px 5px;
}
.txtNav1 {
  margin-left: 25px;
  border-radius: 30px;
  color: #ebebeb;
  background-size: cover;
  font-family: "Bangers", cursive;
}

.txtNav2 {
  margin-left: 25px;
  border-radius: 30px;
  color: #ebebeb;
  background-size: cover;
  font-family: "Bangers", cursive;
}

.txtNav3 {
  margin-left: 25px;
  border-radius: 30px;
  color: #ebebeb;
  background-size: cover;
  font-family: "Bangers", cursive;
}

.txtNav4 {
  margin-left: 25px;
  border-radius: 30px;
  color: #ebebeb;
  background-size: cover;
  font-family: "Bangers", cursive;
}

.fa-solid.fa-bell:before {
  color: rgb(255, 136, 0);
  padding: 10px;
}
.txtNav5 {
  margin-left: 35px;
  border-radius: 30px;
  color: #ebebeb;
  background-size: cover;
  font-family: "Bangers", cursive;
  color: #ebebeb;
}

.txtNav6 {
  margin-left: 25px;
  border-radius: 30px;
  color: #ebebeb;
  background-size: cover;
  font-family: "Bangers", cursive;
  color: #ebebeb;
}
.menu-cont2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-left: 250px;
}
.menu-cont3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-left: 200px;
}
.menu-cont4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-left: 150px;
}

@media (min-width: 768px) {
  .menu {
    background: linear-gradient(
      to right,
      #000000,
      #000000,
      #0166f7,
      #0166f7,
      #0166f7,
      #bd6cca,
      #bd6cca,
      #bd6cca
    );
  }
  .menu a {
    font-size: 180%;
  }
  .menu-cont {
    visibility: visible;
    font-size: 10px;
  }
  .menu-hamburguesa {
    visibility: hidden;
  }
}
@media (min-width: 1024px) {
  .menu a {
    font-size: 140%;
  }
  .menu-cont {
    font-size: 17px;
    margin-right: 40px;
  }
  .logo {
    height: 110px;
    margin: 15px 0 5px 30px;
  }
}
@media (min-width: 1440px) {
  .menu-cont {
    font-size: 25px;
    margin-right: 40px;
  }
  .logo {
    height: 110px;
    margin: 15px 0 5px 50px;
  }
}
@media (min-width: 1600px) {
  .menu-cont {
    font-size: 28px;
    margin-right: 55px;
  }
   .logo {
    height: 110px;
    margin: 15px 0 5px 50px;
  }
}
