 /*#carrusel {
    float:left;
    width:719px;
    overflow:hidden;
    height:285px;
    position:relative;
    margin-top:20px;
		margin-left: 20px;
    margin-bottom:20px;
		
}
 
#carrusel .left-arrow {
    position:absolute;
    left:10px;
    z-index:1;
    top:40%;
    margin-top:-9px;
		color: white;
		font-size: 50px;
}
 
#carrusel .right-arrow {
    position:absolute;
    right:10px;
    z-index:1;
    top:40%;
    margin-top:-9px;
		color: white;
		font-size: 50px;
}
 
.carrusel {
    width:4000px;
    left:0px;
    position:absolute;
    z-index:0;
}
 
.carrusel>div {
    float: left;
    height: 203px;
    margin-right: 5px;
    width: 20%;
    text-align:center;
}
 
.carrusel img {
    cursor:pointer;
		width: 100%;
		height: 150%;
}
 */

 .fa-angle-left{
   position: absolute;
   top: -20px;
   left: 240px;
 }

 .fa-angle-right{
  position: absolute;
  top: -20px;
  right: 240px;
}
.jd-slider .slide-area li img {
  width: 70px;}

.jd-slider .slide-area li{
  display: block
}