* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(/img/probando-fondo-2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fa-solid.fa-bell:before {
  color: rgb(255, 136, 0);
  padding: 10px;
}
.txtNav5 {
  margin-left: 35px;
  border-radius: 30px;
  background-size: cover;
  font-family: "Bangers", cursive;
}

.txtNav6 {
  margin-left: 85px;
  border-radius: 30px;
  background-size: cover;
  font-family: "Bangers", cursive;
}
.menu-cont2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-left: 200px;
}
/*=============================================
MAIN
=============================================*/
main {
  margin: 0 150px;
}
.contenedorDelMain {
  display: flex;
  flex-direction: row;
}
div.container-fluid {
  padding-left: 0px;
}

.datos-del-lugar {
  padding: 10px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 70px;
  margin-left: -130px;
}
.datos-del-lugar-b {
  background-color: #fff;
  width: 310px;
  height: 160px
}
.datos-del-lugar img {
  border-radius: 100px;
  width: 100px;
  margin: 50px 18px 18px 0px;
}

.nombre {
  font-family: Bangers;
  font-size: 20px;
  color: #000;
}
.edad {
  font-family: Kalam;
  font-size: 15px;
}
.tel {
  font-family: Kalam;
  font-size: 105x;
}
.telem {
  font-family: Kalam;
  font-size: 15px;
}
.autoValoracion {
  font-family: Kalam;
  font-size: 15px;
}

.sin-canchas {
  text-align: center;
  color: #fff;
}

p {
  margin: 100px;
}

button3 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button3.learn-more {
  width: 24rem;
  height: auto;
  margin: 20px 5px 30px 0;
}

button3.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #000000;
  border-radius: 1.625rem;
  margin-left: 30px;
}

button3.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button3.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button3.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button3.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: -5px;
  left: 25px;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}
button3.learn-more .button-text2 {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: -5px;
  left: 25px;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #000000;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}

button3:hover .circle {
  width: 100%;
}

button3:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button3:hover .button-text2 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  width: 100%;
  left: 25px;
}

.img-container1 {
  width: 100%;
  height: 200px;
  position: relative;
}

.img-container1:before {
  content: "";
  position: absolute;
  background: rgb(255, 255, 255);
  opacity: 0;
}

.img-container1 ol {
  width: inherit;
  color: rgb(0, 0, 0);
  margin-left: 200px;
  text-align: start;
  position: absolute;

  font-size: 13px;
  top: -5px;
}
/* .datos-del-lugar-b{
  width: 100%;
} */

/*.img-container1 {
  width: 550px;
  height: 200px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* /* .img-container1:before {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  background: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity 0.3s linear;
  margin: 0;
} 

.img-container1:hover:before {
  opacity: 0.5;
}
.img-container1 img:hover {
  left: 0;
} */

.img-container1 ol {
  width: inherit;
  color: rgb(0, 0, 0);
  margin-left: 200px;
  text-align: start;
  position: absolute;
  top: 9%;
  left: -38%;
}

/* .img-container1:hover ol {
  top: -5px;
}
.datos-del-lugar-b:hover {
  width: 50%;
  transition: top 1s linear;
  max-width: max-content;
} */

/* BOTON DE ACTIVO E INACTIVO */
:root {
  --color-green: #00a878;
  --color-red: #ff2600;
  --color-button: #fdffff;
  --color-black: #000;
}
.switch-button {
  display: inline-block;
  margin: 5px 0 0px 70px;
}
.switch-button .switch-button__checkbox {
  display: none;
}
.switch-button .switch-button__label {
  background-color: var(--color-red);
  width: 8rem;
  height: 3rem;
  border-radius: 3rem;
  display: inline-block;
  position: relative;
}
.switch-button .switch-button__label:before {
  transition: 0.2s;
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-button);
  content: "";
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
  background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
  transform: translateX(5rem);
}
/* PARTE DEL MAIN */
.separador1 {
  width: 20%;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 30px;
  font-family: "Bangers", cursive;
  margin: -70px 0 50px 10%;
}
.separador2 {
  width: 20%;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 30px;
  font-family: "Bangers", cursive;
  margin: 30px 0 50px 40%;
}
.separador3 {
  width: 15%;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 30px;
  font-family: "Bangers", cursive;
  margin: 30px 0 50px 10%;
}
.separador4 {
  width: 100%;
  text-align: center;
  font-family: "Bangers", cursive;
}
.div-selector {
  width: 20%;
}
.selector {
  border: 1px solid black;
  border-radius: 30px;
  background-color: white;
  width: 250px;
}
.estado-activo-ina {
  font-family: Kalam;
  color: red;
  text-align: center;
  font-size: 20px;
}
/* BOTON DE ACTIVO O NO */

.rocker {
  display: inline-block;
  position: relative;
  font-size: 10em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
  left: 50px;
  top: -5px;
}

.rocker-small {
  font-size: 1.2em;
  /* Sizes the switch */
  margin: 1em;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(235, 235, 235);
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  -webkit-transform: rotate(15deg) skewX(15deg);
  -ms-transform: rotate(15deg) skewX(15deg);
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  -webkit-transform: skewY(-65deg);
  -ms-transform: skewY(-65deg);
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  -webkit-transform: skewY(65deg);
  -ms-transform: skewY(65deg);
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #0da946;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  -webkit-transform: rotate(0deg) skewX(0deg);
  -ms-transform: rotate(0deg) skewX(0deg);
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  -webkit-transform: rotate(-15deg) skewX(-15deg);
  -ms-transform: rotate(-15deg) skewX(-15deg);
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}

/* Ultimo partido*/

.div-ultimo-partido {
  margin-top: 30px;
  width: 190%;
  position: relative;
}
.ultimo-partido {
  position: absolute;
  left: 900px;
  top: -300px;
  border: 8px solid rgb(205, 136, 72);
  border-radius: 30px;
  width: 80%;
  background-color: rgb(255, 255, 255);
  height: 450px;
}
.vs h2 {
  font-size: 26px;
  font-family: kalam;
  padding: 10px;
  margin-left: 10px;
}
.vs span2 {
  font-size: 26px;
  font-family: kalam;
  padding: 10px 0 10px 10px;
}
.valoracion {
  font-size: 26px;
  font-family: "Bangers", cursive;
  margin-left: 110px;
  color: #bd5757;
}
.valoracion2 {
  font-size: 26px;
  font-family: "Bangers", cursive;
  margin: 70px 0 20px 15px;
  color: #000000;
}
.titulo-U-P {
  width: 100%;
  text-align: center;
  font-family: "Bangers", cursive;
  text-decoration: underline;
}
/* Estrellas */

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
  position: relative;
}

#form p {
  text-align: start;
}

#form label {
  font-size: 40px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  position: absolute;
  left: 135px;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
.estrellas label {
  font-size: 30px;
}

.cuadroComentario {
  margin-left: 25px;
  width: 90%;
  height: 20%;
}
.cuadroComentario::-webkit-input-placeholder {
  text-align: center;
  line-height: 70px;
}
.enviarComentario {
  margin-left: 338px;
  margin-top: 5px;
}
/* Tarjeta de equipo */
.señal {
  height: 44px;
  position: relative;
  left: 280px;
  top: -207px;
}
.batiSeñalEquipo {
  width: 250px;
  height: 400%;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 30px;

  margin: 30px 0 50px 10%;
}
.batiSeñalEquipo h1 {
  font-family: "Bangers", cursive;
  font-size: 20px;
}
button {
  border: none;
  position: relative;
  width: 220px;
  height: 75px;
  padding: 0;
  z-index: 2;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E")
    no-repeat 50% 50%;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E")
    no-repeat 50% 50%;
  -webkit-mask-size: 100%;
  cursor: pointer;
  background-color: transparent;
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
  position: absolute;
  left: 20px;
  top: 65px;
}

button:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0px 0 0 0 white;
  box-shadow: 0px 0 0 0 white;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

button:hover:after {
  -webkit-box-shadow: 0px -13px 56px 12px #ffffffa6;
  box-shadow: 0px -13px 56px 12px #ffffffa6;
}

button span {
  position: absolute;
  width: 100%;
  font-size: 10px;
  font-weight: 100;
  left: 54%;
  top: 39%;
  letter-spacing: 3px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: black;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  font-family: "Press Start 2P", cursive;
}

button:hover span {
  color: white;
}

button:before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: black;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

button:hover:before {
  width: 100%;
}
