* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }
  
  body {
   /* background-image: url(/img/probando-fondo-2.png);*/
   background-color: #e8e8e8
  }

.tarjeta {
    width: fit-content ;
    height: fit-content;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
    margin:100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;

   }

.item-tarjeta{
    padding: 15px;
    text-align: left;
    
}

.item-tarjeta input, .item-tarjeta select, .item-tarjeta button{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}


.otro-item-tarjeta ol li{
  padding: 5px;
  margin: 10px 20px;
  padding: 5px;
    text-align: left;
}
.dia-horario input{
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
    text-align: left;
}

.lunes{
margin-right: 38px;
}
.martes{
  margin-right: 26px; 
}
.miercoles{
  margin-right: 5px;
}
.jueves{
  margin-right: 29px;
}
.viernes{
  margin-right: 21px;
}
.sabado{
  margin-right: 22px;
}
.domingo{
  margin-right: 7px;
}
/* From uiverse.io */
button {
    height: 30px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color:rgb(21, 21, 202) ;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
   }
   
   button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
   }
   
   button:active {
    transform: translateY(-1px);
   }