body {
  background-image: url(../img/fondo2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Press Start 2P", cursive;
}
h1 {
  margin-bottom: 60px;
  font-size: 25px;
  margin-top: 0;
}
.botonera-inicial {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.657);
  border-radius: 20px;
  box-shadow: 10px 10px 64px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 64px 0px rgba(58, 58, 58, 0.75);
  -moz-box-shadow: 10px 10px 64px 0px rgba(102, 100, 98, 0.75);
  margin-top: 50px;
  margin-left: 24.5%;
}
.contenedor-mayor {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 60px;
  font-size: 20px;
  width: 900px;
  height: 800px;
  padding: 20px;
  margin-left: 26%;
  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.657);
  border-radius: 20px;
  box-shadow: 10px 10px 64px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 64px 0px rgba(58, 58, 58, 0.75);
  -moz-box-shadow: 10px 10px 64px 0px rgba(102, 100, 98, 0.75);
  padding-top: 0px;
}
.contenedor-menor {
  font-size: 15px;
  margin-bottom: 40px;
}
.contenedor-menor2 {
  font-size: 13px;
  margin-top: 20px;
}
.contenedor-menor3 {
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 60px;
}
.contenedor-opciones {
  font-size: 13px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.opcion2 {
  margin-left: 20px;
}
