* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }
  
  body {
   /* background-image: url(/img/probando-fondo-2.png);*/
   background-color: #e8e8e8
  }

.card {
    width: fit-content ;
    height: fit-content;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
    margin:100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;

   }