.tarjeta {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #bebebe;
  border: 3px solid rgba(129, 126, 126, 0.741);
}
.tarjeta select{
    border: 1px solid black;
}
.tarjeta input{
    border: 1px solid black;
}
.tarjeta option{
    border: 1px solid black;
}
.otro-item-tarjeta select {
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px;
  border: 1px solid black;
}
.otro-item-tarjeta input {
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-left: 20px;
  border: 1px solid black;
}
.boton-enviar {
  width: 50%;
  text-align: center;
  margin-left: 120px;
  margin-top: 10px;
}
 .boton-enviar2 {
    width: 10%;
    text-align: center;
    margin-left: 970px;
    margin-top: -70px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 50px;
   
} 
