.tarjeta {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #bebebe;
  border: 3px solid rgba(129, 126, 126, 0.741);
}

.otro-item-tarjeta select {
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px;
}
.otro-item-tarjeta input {
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-left: 20px;
}
.boton-enviar {
  width: 50%;
  text-align: center;
  margin-left: 100px;
}
