/*=============================================
CARRITO DE COMPRAS
=============================================*/
.cabeceraCarrito{
	height:60px;
	display: flex;
	align-items: center;
}

h3{
	margin: 0 !important;
}

.cabeceraCheckout{
	height:66px;
}

/*=============================================
CHECKOUT
=============================================*/

.contenidoCheckout, .contenidoCheckout .row{
	padding:0px 20px;
}

.formEnvio{
	display:none;
}



body{
	background: rgb(2,0,36);
	background: linear-gradient(141deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(19,124,187,1) 100%);
}