* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(/img/probando-fondo-2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* cursor: url(/img/cursor.png), pointer; */
}

/*=============================================
SLIDESHOW
=============================================*/

.slide-area li {
  position: relative;
}

.slide-text {
  position: absolute;
  color: #fff;
  width: 70%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 85%;
  text-shadow: 0px 0px 5px black;
}
.prev {
  font-size: 13px !important;
}
.next {
  font-size: 13px !important;
}

/*=============================================
MAIN
=============================================*/

.principal-home {
  display: flex;
  position: relative;
  color: white;
  background-color: black;
  border-radius: 5px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    181deg,
    rgb(13 6 141) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 0) 100%
  );
  height:fit-content
}

.titulito-home {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
}
.titulito-home1 {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
}
.titulito-home2 {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
}

.main-home ol {
  padding-left: 0;
}

.main-home ol li {
  list-style-position: inside;
  font-family: "Kalam", cursive;
  padding: 0;
  text-decoration: none;
  color: #ebebeb;
}

.main-home ol li a {
  list-style-position: inside;
  font-family: "Kalam", cursive;

  padding: 0;
  text-decoration: none;
  color: #ebebeb;
}

.main-home ol li:hover {
  font-size: 30px;
}
.main-home ol li a:hover {
  font-size: 30px;
}

.jugador-home {
  width: 100%;
}

.imagen-jugador img {
  border-radius: 100px;
  background: rgb(7, 7, 49);
  display: block;
  margin: 8px;
  padding: 5px;
}

.nombre-lucas {
  font-family: "Kalam", cursive;
  margin: 40px 5px;
}

.cita-lucas {
  margin: 0px;

  font-family: "Kalam", cursive;
}

.image_field {
  width: 35vw;
}
.imagen-cancha img {
  background-position: center;
  border-radius: 20px;
}

.publicidades {
  display: flex;
  margin-bottom: 25px;
}

.publicidades img {
  width: 150px;
}

.datos-lucas {
  font-family: "Kalam", cursive;
  margin: 15px 5px;
}

.cita-lucas {
  margin-top: 10px;
}

.titulito-home {
  font-size: 40px;
}
.titulito-home1 {
  font-size: 40px;
}
.titulito-home2 {
  font-size: 40px;
}

.image_field {
  width: 35vw;
}

.redes {
  margin-top: 10px;
}

.home_info {
  font-size: 20px;
}

.principal-home {
  display: flex;
  flex-direction: column;
}

.player_mobile {
  background-color: rgba(235, 235, 235, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}
.player_mobile2 {
  background-color: rgba(235, 235, 235, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.imagen-jugador {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.image_lucas {
  width: 40vw;
}

.datos-lucas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cancha-home {
  margin-top: 15px;
}

.image_field {
  width: 60vw;
}
.imagen-cancha {
  padding-bottom: 15px;
}
.formulario-home{
  display: none;
}

.banner-publicitario{
  position: relative;
}
.banner-publicitario .publicidad{
  position: relative;
  margin: 60px auto;
  width: 90%;
}

.titulo-publicidad{
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  position:absolute;
  top: -30px;
  left: 35px;
  color: #ebebeb;
}
.banner-publicitario img{
display: flex;
margin:auto;
width: inherit;

}
/*Boton publicidad*/
/* From uiverse.io */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 button.learn-more {
  width: 12rem;
  height: auto;
  position: absolute;
  bottom: -40px;
  left: 40px;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 3rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #fff;
 }
 /*--MAPA--*/
.recuadro-mapa{
background-color: #ebebeb;
width: fit-content;
max-width: 100%;
margin: 60px auto;
padding: 20px;
border-radius: 10px;
}

.titulo-mapa{
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
}

.mapa-grande{
display: none;
}
/*=============================================
MEDIA Q
=============================================*/
@media (min-width: 425px) {
  .prev {
    font-size: 13px !important;
  }
  .next {
    font-size: 13px !important;
  }
  .slide-text {
    position: absolute;
    color: #fff;
    width: 60%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 85%;
    text-shadow: 0px 0px 5px black;
  }
  .publicidades {
    margin-left: 40px;
  }
  .publicidades img {
    width: 170px;
  }

}
@media (min-width: 768px) {
  .datos-lucas {
    font-family: "Kalam", cursive;
    margin: 15px 5px;
  }

  .cita-lucas {
    margin-top: 10px;
  }

  .titulito-home {
    font-size: 40px;
  }
  .titulito-home1 {
    font-size: 40px;
  }
  .titulito-home2 {
    font-size: 40px;
    margin-bottom: 0;
  }
  .imagen-jugador img {
    border-radius: 100px;
    background: rgb(7, 7, 49);
    display: block;
    margin: 10px 10px 0px 90px;
    padding: 5px;
    width: 50%
  }
  .recuadro-cancha{
    background-color: rgba(235, 235, 235, 0.25);;
    padding-top: 20px;
  }
 
  .image_field {
    width: 80%;
    margin-top: 40px;
    border: solid black 4px;
  }

  .redes {
    margin-top: 10px;
  }

  .home_info {
    font-size: 20px;
  }

  .principal-home {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .player_mobile {
    background-color: rgba(235, 235, 235, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 25px;
    padding-bottom: 13px;
  }
  .player_mobile2 {
    background: none;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .imagen-jugador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }
  .image_lucas {
    width: 60%;
  }

  .datos-lucas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .jugador-home{
    width: 50%;
  }
  .cancha-home {
    width: 50%;
    margin-top: 0px;
  }

  .imagen-cancha {
    padding-bottom: 15px;
  }
  .publicidades {
    margin: 20px 0 20px 0;
  }
  img.img-publicidad2 {
    margin-left: 150px;
  }
  img.img-publicidad1 {
    margin-left: 150px;
  }
  .banner-publicitario .publicidad{
    margin: 200px auto;
    margin-bottom: 0;
  }
  button.learn-more{
    left: 80px;
  }
  .prev {
    font-size: 23px !important;
  }
  .next {
    font-size: 23px !important;
  }
  .mapa-grande{
    display: block;
  }
  .mapa-mobil{
    display: none;
  }
  
  .formulario-home{
    display: flex;
    background-color: #15215c;
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: -460px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px 0 20px 20px;
    box-shadow: 15px 15px 30px #080e4b,
              0px 0px 0px #ffffff;
  }
  .formulario-home form{
    display: flex;
    border-radius: 20px;
    flex-direction: column;
  }
  .date{
    display: flex;
    flex-direction: row;
  }
  .input{
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    border: none;
  }
  /* From uiverse.io */
  .button-form a{
    text-decoration: none;
  }
  .button-form {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 90% ;
  margin: 10px auto;
}

.button-form:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button-form:active {
  transform: translateY(-1px);
}
  /* From uiverse.io by @adamgiebl */
.card {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: #e0e0e0;
  
 }
}

@media (min-width: 1024px) {
  .prev {
    font-size: 33px !important;
  }
  .next {
    font-size: 33px !important;
  }
  .datos-lucas {
    font-family: "Kalam", cursive;
    margin: 15px 5px;
  }

  .cita-lucas {
    margin-top: 10px;
    position: relative;
    top: -185px;
    left: 60px;
    font-size: 17px;
  }

  .titulito-home {
    font-size: 40px;
    position: relative;
    top: -240px;
    left: 160px;
    
  }
  .titulito-home2 {
    font-size: 40px;
  }
  .titulito-home1 {
    font-size: 40px;
    position: relative;
    top: 10px;
    right: 6px;
  }


  .redes {
    margin-top: 10px;
  }

  .home_info {
    font-size: 20px;
  }



  .player_mobile {
    background-color: rgba(235, 235, 235, 0.25);
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 450px;
    height: 500px;
  }
  .player_mobile2 {
    background-color: rgba(235, 235, 235, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 450px;
    height: 500px;
    margin: 40px auto;
  }
  .imagen-jugador img {
    border-radius: 50px;
    background: rgb(7, 7, 49);
    display: block;
    margin: 8px;
    padding: 5px;
    position: absolute;
    left: 40px;
    top: -300px;
  }
  .imagen-jugador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    position: absolute;
  }
  .image_lucas {
    width: 50%;
  }

  .datos-lucas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recuadro-cancha{
    background: none;
  }

  .imagen-cancha {
    padding-bottom: 15px;
  }
  .publicidades {
    margin: 20px 0 20px 0;
  }
  img.img-publicidad2 {
    margin-left: 150px;
  }
  img.img-publicidad1 {
    margin-left: 250px;
  }
  .main-home ol {
    padding-left: 0;
    padding-right: 30px;
  }
  .publicidades img {
    width: 200px;
  }
  .banner-publicitario .publicidad{
    margin: 100px auto;
  }
  button.learn-more{
    left: 150px;
  }

  .formulario-home{
    display: block;
    position: relative;
    bottom: 0;
    width: 80%;
    margin: 40px auto;
    border-radius: 20px;
    padding: 20px;
  }
  .fecha{
    width: 50%;
  }
  .hora{
    width: 50%;
  }
}
@media (min-width: 1440px) {
  .principal-home {
    position: relative;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 30px 5px 0 60px;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      181deg,
      rgb(13 6 141) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 0) 100%
    );
    padding: 0px;
  }
  .prev {
    font-size: 43px !important;
  }
  .next {
    font-size: 43px !important;
  }
  .jugador-home{
    width: 60%;
  }
  .cancha-home{
    width: 60%;
  }
  .datos-lucas {
    font-family: "Kalam", cursive;
    margin: 15px 5px;
  }
  .imagen-jugador img {
    left: 130px
  }
  .cita-lucas {
    right: 472px;
  }
  .titulito-home {
    left: 300px;
  }
  .publicidades {
    margin: 20px 0 20px 0;
    position: relative;
    top: -500px;
    right: -730px;
    width: 25%;
  }
  img.img-publicidad2 {
    margin-left: 30px;
  }
  .player_mobile{
    width: 90%;
  }
  
  .player_mobile2 {
    right: -480px;
    margin: 40px auto;
    width: 90%;
  }
  .image_field{
    width: 60%;
  }
  .titulo-publicidad{
    left:170px;
    font-size: 40px;
  }
}
@media (min-width: 1600px) {
  .prev {
    font-size: 43px !important;
  }
  .next {
    font-size: 43px !important;
  }
  .imagen-jugador img {
    right: 560px;
  }
  .cita-lucas {
    right: 534px;
  }
  .titulito-home {
 
    font-size: 50px;
  }
  .player_mobile2 {
    top: -862px;
    right: -500px;
  }
  .publicidades {
    margin: 20px 0 20px 0;
    position: relative;
    top: -500px;
    right: -855px;
    width: 25%;
  }
  img.img-publicidad1 {
    margin-left: 228px;
  }
  .player_mobile {
    margin: 25px 0px 0 66px;
  }
}
