* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(/img/probando-fondo-2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*=============================================
SLIDESHOW
=============================================*/

.slide-area li {
  position: relative;
}

.slide-text {
  position: absolute;
  color: #fff;
  width: 70%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 85%;
  text-shadow: 0px 0px 5px black;
}

/*=============================================
MAIN
=============================================*/

.principal-home {
  display: flex;
  position: relative;
  margin: 3%;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 30px;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,0) 100%);
}

.titulito-home {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

.main-home ol li{
  list-style-type: decimal;
  list-style-position: inside;
  font-family: "Kalam", cursive;
  font-size: 20px;
  padding: 0;
  text-decoration: none;
  color: #ebebeb;
}

.main-home ol li a{
  list-style-type: decimal;
  list-style-position: inside;
  font-family: "Kalam", cursive;
  font-size: 20px;
  padding: 0;
  text-decoration: none;
  color: #ebebeb;
}


.main-home ol li:hover{
font-size: 30px;
}
.main-home ol li a:hover{
  font-size: 30px;
  }

.jugador-home {
  width: 50%;
}

.imagen-jugador img {
  width: 100px;
  border-radius: 100px;
  background: rgb(7, 7, 49);
  display: block;
  margin: 8px;
  padding: 5px;
}

.nombre-lucas {
  font-family: "Kalam", cursive;
  margin: 40px 5px;
}

.cita-lucas {
  margin: 0px;
  font-size: 10px;
  font-family: "Kalam", cursive;
}

.cancha-home {
  margin-left: 20%;
  width: 50%;
}

.imagen-cancha img {
  width: 180px;
  display: block;
  margin: 7px 8px;
  background-position: center;
  border-radius: 20px;
}

.publicidades {
  display: flex;
}

.publicidades img {
  width: 200px;
}
/*=============================================
MEDIA Q
=============================================*/

@media (min-width: 425px) {
  
  .imagen-jugador img {
    width: 140px;
  }

  .imagen-cancha img {
    width: 200px;
  }
  .cancha-home {
    margin: 0;
  }

  .datos-lucas {
    font-family: "Kalam", cursive;
    margin: 15px 5px;
  }

  .cita-lucas {
    margin-top: 10px;
  }
}

@media (min-width: 769px) {
  .main-home {
    display: flex;
    position: relative;
    margin: 40px;
    color: white;
  }

  .principal-home {
    flex-direction: row;
  }

  .titulito-home {
    font-size: 30px;
  }

  .main-home ol li {
    list-style-type: decimal;
    list-style-position: inside;
    font-family: "Kalam", cursive;
    font-size: 20px;
    width: max-content;
  }
  .menu-cont {
    display: flex;
  }
  .menu-hamburguesa {
    display: none;
  }
  .jugador-home {
    margin-left: 5%;
  }

  .jugador {
    width: 300px;
  }
  .imagen-jugador img {
    width: 140px;
  }

  .imagen-jugador {
    display: flex;
    flex-direction: row;
  }

  .datos-lucas {
    font-family: "Kalam", cursive;
    margin: 40px 5px;
  }

  .cita-lucas {
    margin-top: 10px;
  }

  .cancha-home {
    margin-left: 50%;
  }

  .publicidades {
    flex-direction: column;
  }

  .img-publicidad1 {
    position: absolute;
    right: 0px;
    bottom: 114px;
  }

  .img-publicidad2 {
    position: absolute;
    right: 0px;
    top: 275px;
  }
}
