* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(/img/probando-fondo-2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*=============================================
HEADER
=============================================
.main-header {
  background-image: url(../img/fondo2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}*/

header {
  border-top: 1px solid white;
  background: white;
  color: #333;
  height: 80px;
  width: 100vw;
  text-align: center;
}

.menu {
  height: 80px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(35, 35, 35),
    rgb(246, 211, 211),
    rgb(255, 255, 255)
  );
  color: white;
  text-align: center;
  position: fixed;
  z-index: 1;
  margin-bottom: 500px;
}

.menu-cont {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-left: 40px;
}

.menu a {
  padding: 8px;
  color: #000000;
  display: block;
  font-size: 20px;
  text-decoration: none;
  transition: 1s;
}

.menu a:hover,
.menu a:focus {
  color: #000000;
}

.copy-header {
  display: flex;
  justify-content: start;
  width: 100%;
  transition: 2s;
  cursor: pointer;
}

.logo {
  width: 25.5%;
  display: flex;
  align-items: start;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 0 30px 30px 0;
  padding: 0px 0px;
  margin: 0;
}

.txtNav1 {
  margin-left: 25px;
  border-radius: 30px;
  border: solid 2px rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  background-size: cover;
  font-family: "Bangers", cursive;
}

.txtNav2 {
  margin-left: 25px;
  border-radius: 30px;
  border: solid 2px rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  background-size: cover;
  font-family: "Bangers", cursive;
}

.txtNav3 {
  margin-left: 25px;
  border-radius: 30px;
  border: solid 2px rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  background-size: cover;
  font-family: "Bangers", cursive;
}

.txtNav4 {
  margin-left: 25px;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  font-family: "Bangers", cursive;
}

.wrapper {
  height: 2000px;
  width: 100%;
  padding-top: 20px;
}

/*=============================================
SLIDESHOW
=============================================*/

.slide-area li {
  position: relative;
}

.slide-text {
  position: absolute;
  color: #fff;
  width: 70%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 85%;
  text-shadow: 0px 0px 5px black;
}

/*----MAIN----*/

.principal-home {
  display: flex;
  position: relative;
  margin: 3%;
  color: white;
}

.titulito-home {
  font-family: "Bangers", cursive;
  font-size: 30px;
}

.main-home ol li {
  list-style-type: decimal;
  list-style-position: inside;
  font-family: "Kalam", cursive;
  font-size: 20px;
}

.jugador-home {
  width: 50%;
}

.imagen-jugador img {
  width: 100px;
  border-radius: 100px;
  background: rgb(7, 7, 49);
  display: block;
  margin: 8px;
  padding: 5px;
}

.nombre-lucas {
  font-family: "Kalam", cursive;
  margin: 40px 5px;
}

.cita-lucas {
  margin: 0px;
  font-size: 10px;
  font-family: "Kalam", cursive;
}

.cancha-home {
  margin-left: 20%;
  width: 50%;
}

.imagen-cancha img {
  width: 180px;
  display: block;
  margin: 7px 8px;
  background-position: center;
  border-radius: 20px;
}

.publicidades {
  display: flex;
}

.publicidades img {
  width: 200px;
}

/*----FOOTER----*/

.redes {
  font-size: 30px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, red, orange, yellow, green, blue);
  width: 100%;
}

.redes i {
  border: solid 1px white;
  border-radius: 100%;
  padding: 10px 10px;
  margin: 0 10px;
  color: white;
  transition: 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.redes i:hover {
  opacity: 0.8;
}

.fa-whatsapp {
  background-color: #075e54;
}

.fa-facebook {
  background-color: #3b5998;
}

.fa-instagram {
  background-color: #c13584;
}

.fa-envelope {
  background-color: #0089f8;
}

.fa-screwdriver-wrench {
  background-color: #000000;
}

@media (min-width: 425px) {
  .principal-home {
  }

  .imagen-jugador img {
    width: 140px;
  }

  .imagen-cancha img {
    width: 200px;
  }
  .cancha-home {
    margin: 0;
  }

  .datos-lucas {
    font-family: "Kalam", cursive;
    margin: 15px 5px;
  }

  .cita-lucas {
    margin-top: 10px;
  }
}

@media (min-width: 769px) {
  .main-home {
    display: flex;
    position: relative;
    margin: 40px;
    color: white;
  }

  .principal-home {
    flex-direction: row;
  }

  .titulito-home {
    font-family: "Bangers", cursive;
    font-size: 30px;
  }

  .main-home ol li {
    list-style-type: decimal;
    list-style-position: inside;
    font-family: "Kalam", cursive;
    font-size: 20px;
    width: max-content;
  }
  .menu-cont {
    display: flex;
  }
  .menu-hamburguesa {
    display: none;
  }
  .jugador-home {
    margin-left: 5%;
  }

  .jugador {
    width: 300px;
  }
  .imagen-jugador img {
    width: 140px;
  }

  .imagen-jugador {
    display: flex;
    flex-direction: row;
  }

  .datos-lucas {
    font-family: "Kalam", cursive;
    margin: 40px 5px;
  }

  .cita-lucas {
    margin-top: 10px;
  }

  .cancha-home {
    margin-left: 50%;
  }

  .publicidades {
    flex-direction: column;
  }

  .img-publicidad1 {
    position: absolute;
    right: 0px;
    bottom: 114px;
  }

  .img-publicidad2 {
    position: absolute;
    right: 0px;
    top: 275px;
  }
}
