* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(/img/probando-fondo-2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*=============================================
MAIN
=============================================*/
h1 {
  font-family: Bangers;
  width: 100px;
}
.encabezado-club{
  background-color: rgb(22, 24, 30);
  color: #ebebeb;
  height: 250px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-club img{
  max-width: 200px;
}
.nombre-del-lugar{
  margin: 0;
  font-size: 40px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.datos-del-lugar {
  color: #ebebeb;
  margin: 40px auto;
  display: flex;
  align-items: center;
  position: relative;
  height: 550px;
  width: 80%;
  background-color: rgba(225, 225, 225, 0.2);
  border-radius: 10px;
  padding: 30px;
}

.datos-del-lugar h2 {
  margin: 0;
  color: #ebebeb;
  width: 100%;
  font-family: "Bangers", cursive;
  font-size: 3rem;
  text-align: center;
  position: relative;
  bottom: 200px;
  left: -10px;
}

.datos2-del-lugar{
  width: 50%;
}
.datos2-del-lugar ol {
  padding-left: 0;
  width: 50%;
  flex-direction: column;
}
.datos3-del-lugar{
  width: 50%;
}
.datos3-del-lugar ol {
  padding-left: 0;
  width: 50%;
  flex-direction: column;
}

.datos2-del-lugar ol li a {
  text-decoration: none;
  color: #ebebeb;
}
img.user-img {
  border-radius: 25px;
  min-width: 400px;
  margin: auto;
  position: relative;
}

.volver{
  position: absolute;
  top: 50%;
  left: -220px;
  font-size: 2em;
}
.prox{
  position: absolute;
  top: 50%;
  right: -220px;
  font-size: 2em;
}
.boton-editar-superior {
  color: #ebebeb;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0.3em 0.5em;
  font-size: 20px;
}

.boton-editar-superior:hover {
  background: rgba(106, 142, 164, 0.2);
  border-radius: 14px;
}

.detalle {
  margin-top: 10px;
}
.lapizUser i {
  text-decoration: none;
  color: white !important;
}
.titulo1 {
  margin: 100px 0 20px 10px;
  font-size: 28px;
}
.titulo2 {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 28px;
}
.titulo3 {
  margin-left: 103px;
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 28px;
}
.botones-registro {
  margin-left: -90px;
  margin-top: 20px;
}
/* TARJETA */

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(225, 225, 225, 0.2);
  border-radius: 10px;
}
.tarjeta {
  width: 220px;
  height: 211px;
  background: white;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
  margin: 40px;
  position: relative;
}

.tarjeta:hover {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.623);
}

.tarjeta .blob {
  height: 10px;
  width: 75%;
  border-radius: 0 0 30px 30px;
  margin: 0 auto;
  background-color: #4bb8ff;
  visibility: visible;
  transition: all 0.3s;
}

.tarjeta:hover .blob {
  height: 0;
}

.tarjeta .img img {
  display: flex;
  margin: 30px auto 10px auto;
  width: 70px;
  height: 70px;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.tarjeta:hover .img img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0;
  margin: 0 auto;
  z-index: 99999;
}
.tarjeta:hover h3 {
  opacity: 0;
}

.tarjeta h3 {
  padding: 10px 10px;
  font-size: 25px;
  transition: all 0.1s;
  z-index: 99;
  line-height: 17px;
  font-family: "Bangers", cursive;
  text-align: center;
}

.tarjeta:hover h2 {
  opacity: 0;
  width: 100%;
  position: absolute;
  transition: all 0.5s;
}

.tarjetas-canchas img {
  border-radius: 50px;
}

.tarjeta > ul {
  opacity: 0;
  transition: all 0.75s;
  padding-left: 15px;
  text-align: left;
  position: absolute;
  top: 23px;
}

.tarjeta ul li {
  font-family: Kalam;
}

.tarjeta > ul > svg {
  padding: 5px;
}

.tarjeta:hover > ul {
  opacity: 1;
  transition: all 0.1s;
}

.horarios a {
  text-decoration: none;
  color: #000000;
  font-family: kalam;
  visibility: none;
}

.horarios:hover {
  font-size: 30px;
  visibility: visible;
}

.tarjeta .img-escuelita {
  transition: opacity 1s;
}

.tarjeta:hover .img-escuelita {
  opacity: 0.1;
}

.tarjeta-esc {
  transition: all 1s;
}

.descrip-tarjeta-esc p ul {
  visibility: hidden;
  margin: 0;
  position: absolute;
  top: 0;
  margin-top: 20px;
}
.tarjeta:hover .descrip-tarjeta-esc {
  visibility: visible;
}
/* From uiverse.io */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
  margin-left: 70px;
  flex-direction: column;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #000000;
  border-radius: 1.625rem;
  margin-left: 30px;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: -2px;
  left: 40px;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
  font-size: 13px;
  width: 70%;
}

.sin-canchas {
  text-align: center;
  color: #fff;
  margin: 100px;
}

.tarjeta-esc:hover {
  height: 220px;
  margin-bottom: 0;
}

p {
  margin: 200px;
}

.boton-editar {
  color: rgb(14, 14, 65);
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  font-size: 20px;
  visibility: hidden;
  padding: 0.3em 0.5em;
}

.boton-editar:hover {
  color: #fff;
  background: rgba(23, 56, 76, 0.2);
  border-radius: 14px;
}

.boton-eliminar {
  color: rgb(14, 14, 65);
  padding: 0.3em 0.5em;
  position: absolute;
  right: 40px;
  bottom: 0;
  margin: 10px;
  font-size: 20px;
  visibility: hidden;
}
button.boton-eliminar:hover {
  color: red;
  background: rgba(23, 56, 76, 0.2);
  border-radius: 14px;
}

.tarjeta:hover .boton-editar {
  visibility: visible;
}

.tarjeta:hover .boton-eliminar {
  visibility: visible;
}

.tarjeta-esc:hover h3 {
  display: flex;
  text-align: start;
}

h2 {
  font-family: Bangers;
  margin: 100px;
  color: #ebebeb;
}

.img .palo-hockey img {
  padding: 10px;
  background-color: #ebebeb;
  width: 100px;
}

.clase {
  margin-top: 5px;
}

.categoria {
  margin-left: 5px;
  font-size: 15px;
}
@media (min-width: 425) {
  .datos-del-lugar h2 {
    left: -5px;
    bottom: 138px;
  }
  .datos2-del-lugar ol {
    padding-left: 0;
    width: 50%;
  }
  
}
@media (min-width: 768px) {
  .volver{
    left: -150px;
  }
  .prox{
    right: -150px;
  }
  .datos-del-lugar h2 {
    width: 50%;
    font-size: 4rem;
    bottom: 110px;
    left: 40px;
  }
  .datos2-del-lugar ol {
    width: 50%;
    font-size: 20px;
  }
  .datos3-del-lugar ol {
    padding-left: 0;
    width: 47%;
    font-size: 17px;
  }
  .jd-slider .prev {
    left: -40px;
  }
  .jd-slider .next {
    right: -43px;
  }
  .datos2-del-lugar ol {
    padding-left: 0;
    width: 85%;
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .datos3-del-lugar ol {
    padding-left: 0;
    width: 100%;
    font-size: 17px;
  }
}
@media (min-width: 1024px) {

  .nombre-del-lugar{
    font-size: 50px;
    width: 50%;
  }
  .volver{
    left: 0px;

  }
  .prox{
    right: 0px;
  }
  .datos-del-lugar {
    height: 400px;
  }
 
  .datos-del-lugar h2 {
    width: 45%;
    font-size: 5rem;
    bottom: 86px;
    left: 92px;
  }
  li.detalle1 {
    visibility: hidden;
  }
  .datos2-del-lugar ol {
    padding-left: 0;
    width: 98%;
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .datos3-del-lugar ol {
    padding-left: 0;
    width: 90%;
    font-size: 18px;
  }
  .jd-slider .prev {
    left: -40px;
  }
  .jd-slider .next {
    right: -43px;
  }
  .datos2-del-lugar ol {
    padding-left: 0;
    width: 106%;
    font-size: 18px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .datos3-del-lugar ol {
    padding-left: 0;
    width: 87%;
    font-size: 17px;
  }
  .boton-editar-superior {
    color: #ebebeb;
    position: absolute;
    bottom: -1px;
    right: 15px;
    padding: 0.3em 0.5em;
    font-size: 23px;
  }
  .menu-cont4 {
    margin-left: 50px !important;
  }
  .titulo1 {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 40px;
  }
  .titulo2 {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 40px;
  }
  .titulo3 {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 40px;
  }
  .jd-slider .next {
    right: 90px;
  }
  .jd-slider .prev {
    left: 90px;
  }
  .botones-registro {
    margin-left: -70px;
    margin-top: 20px;
    font-size: 40px;
  }
}
@media (min-width: 1440px) {
  .volver{
    left: 150px;

  }
  .prox{
    right: 150px;
  }

  .datos-del-lugar h2 {
    width: 60%;
    font-size: 5rem;
    bottom: 86px;
    left: 92px;
  }
  li.detalle1 {
    visibility: visible;
    position: absolute;
    left: 57%;
    top: -76px;
    font-size: 35px;
  }
  .datos2-del-lugar ol {
    padding-left: 0;
    width: 90%;
    font-size: 18px;
    justify-content: space-between;
    align-items: baseline;
  }
  .fa-solid,
  .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 25px;
  }
  .datos2-del-lugar ol {
    font-size: 21px;
  }
  .datos3-del-lugar ol {
    font-size: 22px;
  }
  .tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 10px;
    width: 30%;
    margin-left: 37%;
  }
  .jd-slider .next {
    top: 131px;
    font-size: 35px;
  }
  .jd-slider .next {
    right: 250px;
  }
  .jd-slider .prev {
    left: 310px;
    top: 133px;
    font-size: 35px;
  }
  .titulo1 {
    margin-left: 145px;
    margin-bottom: 20px;
    font-size: 50px;
  }
  .titulo2 {
    margin-left: 145px;
    margin-bottom: 20px;
    font-size: 50px;
  }
  .titulo3 {
    margin-left: 145px;
    margin-bottom: 20px;
    font-size: 50px;
  }
  .botones-registro {
    margin-left: 534px;
    margin-top: 20px;
  }
  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: -3px;
    left: 64px;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #ffffff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    /* width: 166%; */
  }
  .registroC {
    width: 166% !important;
    margin-left: -11px !important;
  }
  .registroCP {
    margin-left: 484px !important;
  }
  button:hover .circle01 {
    width: 175% !important;
  }
  .circle02 {
    left: 60px !important;
  }
  button:hover .circle03 {
    width: 130% !important;
  }
}

@media (min-width: 1600px) {

  .datos-del-lugar h2 {
    width: 60%;
    font-size: 5rem;
    bottom: 86px;
    left: 92px;
  }
  li.detalle1 {
    visibility: visible;
    position: absolute;
    left: 55%;
    top: -76px;
    font-size: 35px;
  }
  .datos2-del-lugar ol {
    padding-left: 0;
    width: 90%;
    font-size: 18px;
  }
  .fa-solid,
  .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 25px;
  }
  .datos2-del-lugar ol {
    font-size: 21px;
  }
  .datos3-del-lugar ol {
    font-size: 22px;
  }
  .tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 10px;
    width: 30%;
    margin-left: 37%;
  }
  .jd-slider .next {
    right: 312px;
  }

  .jd-slider .next {
    top: 126px;
    font-size: 40px;
  }

  .jd-slider .prev {
    left: 389px;
    top: 130px;
    font-size: 40px;
  }
  .titulo1 {
    margin-left: 145px;
    margin-bottom: 20px;
    font-size: 50px;
  }
  .titulo2 {
    margin-left: 145px;
    margin-bottom: 20px;
    font-size: 50px;
  }
  .titulo3 {
    margin-left: 145px;
    margin-bottom: 20px;
    font-size: 50px;
  }
  .botones-registro {
    margin-left: 620px;
    margin-top: 20px;
  }
  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: -3px;
    left: 64px;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #ffffff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    /* width: 166%; */
  }
  .registroC {
    width: 166% !important;
    margin-left: -11px !important;
  }
  .registroCP {
    margin-left: 555px !important;
  }
  button:hover .circle01 {
    width: 175% !important;
  }
  .circle02 {
    left: 60px !important;
  }
  button:hover .circle03 {
    width: 130% !important;
  }
  .datos3-del-lugar ol {
    padding-left: 0;
    width: 87%;
    font-size: 17px;
    justify-content: space-between;
  }
  .boton-editar-superior {
    color: #ebebeb;
    position: absolute;
    bottom: -7px;
    right: 9px;
    padding: 0.3em 0.5em;
    font-size: 40px;
  }
}
