<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Formulario de datos</title>

  <!--=====================================
	PLUGINS DE CSS
	======================================-->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/formularioDatosJugador.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Kalam&family=Roboto&display=swap"
    rel="stylesheet">

</head>

<body>
  <h1>Registro de datos personales</h1>
    <div class="formulario-div">
    <form class="div1" action="/loginPlayer" method="post">
      <!--=====================================-->
      <div class="form-group">
        <div class="input-group">
          <div>
            <label for="nombre">Nombre: </label>
            <input type="text" class="form-control" id="nombre" name="registroNombre">
          </div>
          <div class="entre-divs">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" id="apellido" name="registroApellido">
          </div>
          <div class="entre-divs">
            <label for="edad">Edad:</label>
            <input type="number" class="form-control" id="edad" name="registroEdad" step="any">
          </div>
          <div class="entre-divs2">
            <label for="telefono">Telefono:</label>
            <input type="number" class="form-control" id="telefono" name="registroTelefono">
          </div>
          <div class="entre-divs3">
            <label for="telefono2">Contacto de emergencia:</label>
            <input type="number" class="form-control" id="telefono2" name="registroTelefono2">
          </div>
          <div class="entre-divs4">
            <label for="autoValoracion">Auto valoración:</label>
            <br>
            <select name="autovaloracion" id="autoValoracion" name="registroAutoValoracion">
              <option value="0">-</option>
              <option value="1">Estrella</option>
              <option value="2">Copadito</option>
              <option value="3">Me defiendo</option>ç
            </select>

          </div>
        </div>
      </div>
    </form>
  </div>
  <br>
  <div class="formulario-div2">
    <form class="div1" action="/loginPlayer" method="post">
      <div class="form-group">
        <div class="input-group">
          <div class="entre-divs">
            <label for="deporte">Deporte que juego:</label>
            <div>
              <select name="posicion" id="deporte" name="registroDeDeporte">
                <option value="0">-</option>
                <option value="1">Futbol</option>
              </select>
              <select name="posicion" id="deporte2" name="registroDeDeporte2">
                <option value="0">-</option>
                <option value="1">Paddle</option>
              </select>
              <select name="posicion" id="deporte3" name="registroDeDeporte3">
                <option value="0">-</option>
                <option value="1">Basquet</option>
              </select>
            </div>
          </div>
          <div class="entre-divs">
            <label for="ubicacionJ">Zona de juego:</label>
            <input type="text" class="form-control" id="ubicacionJ" name="registroUbicacionJ">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div>
            <div class="entre-divs6">
              <div class="entre-divs5">
                <label for="dias">Dias para jugar:</label>
                <div class="divDias2">
                  <select name="dias" id="dias" name="registroDeDias">
                    <option value="0">-</option>
                    <option value="1">Lunes</option>
                    <option value="2">Martes</option>
                    <option value="3">Miercoles</option>
                    <option value="4">Jueves</option>
                    <option value="5">Viernes</option>
                    <option value="6">Sabados</option>
                    <option value="7">Domingos</option>
                  </select>
                </div>
                <div class="divDias">
                  <select name="dias" id="dias" name="registroDeDias">
                    <option value="0">-</option>
                    <option value="1">Lunes</option>
                    <option value="2">Martes</option>
                    <option value="3">Miercoles</option>
                    <option value="4">Jueves</option>
                    <option value="5">Viernes</option>
                    <option value="6">Sabados</option>
                    <option value="7">Domingos</option>
                  </select>
                </div>
                <div class="divDias">
                  <select name="dias" id="dias" name="registroDeDias">
                    <option value="0">-</option>
                    <option value="1">Lunes</option>
                    <option value="2">Martes</option>
                    <option value="3">Miercoles</option>
                    <option value="4">Jueves</option>
                    <option value="5">Viernes</option>
                    <option value="6">Sabados</option>
                    <option value="7">Domingos</option>
                  </select>
                </div>
                <div class="divDias">
                  <select name="dias" id="dias" name="registroDeDias">
                    <option value="0">-</option>
                    <option value="1">Lunes</option>
                    <option value="2">Martes</option>
                    <option value="3">Miercoles</option>
                    <option value="4">Jueves</option>
                    <option value="5">Viernes</option>
                    <option value="6">Sabados</option>
                    <option value="7">Domingos</option>
                  </select>
                </div>
                <div class="divDias">
                  <select name="dias" id="dias" name="registroDeDias">
                    <option value="0">-</option>
                    <option value="1">Lunes</option>
                    <option value="2">Martes</option>
                    <option value="3">Miercoles</option>
                    <option value="4">Jueves</option>
                    <option value="5">Viernes</option>
                    <option value="6">Sabados</option>
                    <option value="7">Domingos</option>
                  </select>
                </div>
                <div class="divDias">
                  <select name="dias" id="dias" name="registroDeDias">
                    <option value="0">-</option>
                    <option value="1">Lunes</option>
                    <option value="2">Martes</option>
                    <option value="3">Miercoles</option>
                    <option value="4">Jueves</option>
                    <option value="5">Viernes</option>
                    <option value="6">Sabados</option>
                    <option value="7">Domingos</option>
                  </select>
                </div>
                <div class="divDias">
                  <select name="dias" id="dias" name="registroDeDias">
                    <option value="0">-</option>
                    <option value="1">Lunes</option>
                    <option value="2">Martes</option>
                    <option value="3">Miercoles</option>
                    <option value="4">Jueves</option>
                    <option value="5">Viernes</option>
                    <option value="6">Sabados</option>
                    <option value="7">Domingos</option>
                  </select>
                </div>
              </div>
              <div class="entre-divs7">
                <label for="horarios">Horarios para jugar:</label>
                <input type="time" class="form-control" id="horarios" name="registroHorarios">
                <input type="time" class="form-control" id="horarios" name="registroHorarios2">
                <input type="time" class="form-control" id="horarios" name="registroHorarios3">
                <input type="time" class="form-control" id="horarios" name="registroHorarios4">
                <input type="time" class="form-control" id="horarios" name="registroHorarios5">
                <input type="time" class="form-control" id="horarios" name="registroHorarios6">
                <input type="time" class="form-control" id="horarios" name="registroHorarios7">
              </div>
              <div class="entre-divs8">
                <form name="subida-imagenes" type="POST" enctype="multipart/formdata">
                  <input type="file" name="imagen1" />
                  <input type="submit" name="subir-imagen" value="Cargar" class="btn btn-primary divCargar" />
                </form>
              </div>
            </div>
          </div>
          <div class="entre-divs9">
            <button>
              <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                      d="M177.1 228.6L207.9 320h96.5l29.62-91.38L256 172.1L177.1 228.6zM255.1 0C114.6 0 .0001 114.6 .0001 256S114.6 512 256 512s255.1-114.6 255.1-255.1S397.4 0 255.1 0zM416.6 360.9l-85.4-1.297l-25.15 81.59C290.1 445.5 273.4 448 256 448s-34.09-2.523-50.09-6.859L180.8 359.6l-85.4 1.297c-18.12-27.66-29.15-60.27-30.88-95.31L134.3 216.4L106.6 135.6c21.16-26.21 49.09-46.61 81.06-58.84L256 128l68.29-51.22c31.98 12.23 59.9 32.64 81.06 58.84L377.7 216.4l69.78 49.1C445.8 300.6 434.8 333.2 416.6 360.9z" />
                  </svg>
                </div>
              </div>
              <span>DALE...</span>
            </button>
            <div>
              <a href="/register"><button class="volver">Volver</button></a>
            </div>
          </div>
        </div>
        <div class="alert alert-success divAlerta">¡Gracias por registrarse! Hora de jugar</div>
      </div>
      
    </form>
  </div>
  
</body>