<!DOCTYPE html>
<html lang="en">
<head>
    <META HTTP-EQUIV="REFRESH" CONTENT="3;URL=/userPlayer/perfilDeJugador/<%- id %>">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Hoy se juega</title>
</head>
<body>
    <main>
        <img style="text-align: center; align-items: center;" src="/img/blue-background.webp" alt="Bienvenido">
        <h1 style="text-align: center;">Bienvenido a Hoy se juega</h1>
        <h2 style="text-align: center;">Vas a ser redireccionado a tu perfil</h2>
    </main>
</body>
</html>