<!DOCTYPE html>
<html lang="en">

<head>
    <META HTTP-EQUIV="REFRESH" CONTENT="4;URL=/userOwner/vistaCancha/<%- userOwnerLogged.id %>">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/redireccion.css" rel="stylesheet" />
    <title>Bienvenido a Hoy se juega</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Kalam&family=Roboto&display=swap"
        rel="stylesheet">

</head>

<body>
    <main>


        <div class="container">
            <h1 class="title" style="text-align: center;">Bienvenido</h1>
            <br>

            <h1 class="title" style="text-align: center;"> <%- userOwnerLogged.nombre %>
                
            </h1>
            <br>
            <h2 class="title" style="text-align: center;">Serás dirigido a tu perfil de </h2>
            <br>
            <h2 class="title" style="text-align: center;">
                <%- userOwnerLogged.nombreDelLugar %> </h2>
        </div>





        </div>
    </main>

    </div>
</body>

</html>