<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Torneo</title>

    <!--CSS PROPIOS-->
    <link rel="stylesheet" href="/css/registrarCancha.css">
    <link rel="stylesheet" href="/css/reservarCancha.css">
    <link rel="stylesheet" href="/css/globalForm.css">
    <!-- CSS EXTERNOS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Kalam&family=Roboto&display=swap"
        rel="stylesheet">
</head>

<body>

    <form action="/userOwner/crearTorneo" method="POST" enctype="multipart/form-data">
        <div class="tarjeta">
            <div class="item-tarjeta">
                <label name="registroDeDeporte">Deporte:</label>
                <select name="deporte" id="deporte" name="registroDeDeporte">
                    <option value="" disabled selected>Elegir deporte</option>
                    <option value="Futbol">Futbol</option>
                    <option value="Paddle">Paddle</option>
                    <option value="Basquet">Basquet</option>
                </select>
            </div>
            <div class="item-tarjeta">
                <label>Cantidad de Equipos:</label>
                <input name="cantidad" type="text">
            </div>
    
            <div class="edad">
                <div class="item-tarjeta">
                <label>Edad mínima:</label>
                <input name="edad-min" type="text">
            </div>
            
            <div class="item-tarjeta">
                <label >Edad máxima:</label>
                <input name="edad-max" type="text">
            </div>
            </div>
    
            <div class="item-tarjeta">
                <label>Género:</label>
                <select name="genero">
                    <option value="" disabled selected>Elegir opción</option>
                    <option value="Lunes">Femenino</option>
                    <option value="Martes">Masculino</option>
                    <option value="Miercoles">Mixto</option>
                </select>
            </div>
    
    
    <div class="item-tarjeta">
        <label>Fecha del torneo:</label>
        <br> De:
        <input name="fecha-inicio" type="date">
        Hasta: <input name="fecha-final" type="date">
    </div>
    
            <div class="otro-item-tarjeta">
                <div class="item-tarjeta"><label>Día a realizarse:</label></div>
                <select name="horarios">
                    <option value="" disabled selected>Elegir día</option>
                    <option value="Lunes">Lunes</option>
                    <option value="Martes">Martes</option>
                    <option value="Miercoles">Miércoles</option>
                    <option value="Jueves">Jueves</option>
                    <option value="Viernes">Viernes</option>
                    <option value="Sabado">Sabado</option>
                    <option value="Domingo">Domingo</option>
                </select>
                <input type="time" class="form-control horaio" id="horarios" name="registroHorarios">
            </div>
    
            <div class="item-tarjeta">
                <label>Premio</label>
                <input type="text" name="premio" placeholder="$$$">
            </div>
    
            <div class="item-tarjeta boton-enviar">
                <button type="submit">Crear Torneo</button>
            </div>
        </div>
    </form>

</body>

</html>