<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Torneo</title>

    <!--CSS PROPIOS-->
    <link rel="stylesheet" href="/css/registrarCancha.css">
    <link rel="stylesheet" href="/css/reservarCancha.css">
    <link rel="stylesheet" href="/css/globalForm.css">
    <!-- CSS EXTERNOS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Kalam&family=Roboto&display=swap"
        rel="stylesheet">
        <%- include('../css-externos') %>
</head>

<body>
    <%- include('./headerOwner') %>
<main>
    <form action="/userOwner/vistacancha/:id/crearTorneo" method="POST" enctype="multipart/form-data">
        <div class="tarjeta">
            <div class="item-tarjeta">
                <label>Deporte:</label>
                <select name="deporte" id="deporte" required>
                    <option value="">Elegir un deporte</option>
                    <option value="futbol">Futbol</option>
                    <option value="padel">Padel</option>
                    <option value="basquet">Basquet</option>
                    <option value="tenis">Tenis</option>
                    <option value="voley">Voley</option>
                </select>
            </div>

            <div class="edad">
                <div style="display:none">
                    <input name="category" value="torneo" type="text">
                </div>
            </div>

            <div class="item-tarjeta">
                <label>Cantidad de Equipos:</label>
                <input name="cantidadEquipos" type="number" placeholder="Elegir cantidad de equipos que participan">
            </div>

            <div class="edad">
                <div class="item-tarjeta">
                    <label>Categoría:</label>
                    <input name="categoria" type="number" placeholder="Elegir año de categoria a jugar">
                </div>

            </div>

            <div class="item-tarjeta">
                <label>Género:</label>
                <select name="genero" id="genero" required>
                    <option selected disabled>Elegir opción</option>
                    <option value="femenino">Femenino</option>
                    <option value="masculino">Masculino</option>
                    <option value="mixto">Mixto</option>
                </select>
            </div>


            <div class="item-tarjeta">
                <label>Fecha del torneo</label>
                <br>
                <br> De:
                <input name="fechaInicio" type="date">
                <br>
                <br>
                Hasta: <input name="fechaFinal" type="date">
            </div>

            <div class="item-tarjeta">
                <label class="label-dia">Día a realizarse:</label>
            <div class="otro-item-tarjeta torneo-dias">     
                <select name="dia">
                    <option value="" disabled selected>Elegir día</option>
                    <option value="lunes">Lunes</option>
                    <option value="martes">Martes</option>
                    <option value="miercoles">Miércoles</option>
                    <option value="jueves">Jueves</option>
                    <option value="viernes">Viernes</option>
                    <option value="sabado">Sabado</option>
                    <option value="domingo">Domingo</option>
                </select>
                <input type="time" class="form-control horaio" id="horarios" name="registroHorarios">
            </div>
            </div>
            <div class="item-tarjeta">
                <label>Valor por equipo:</label>
                <input type="number" name="valor" placeholder="$">
            </div>
            <div class="item-tarjeta">
                <label>Premio</label>
                <input type="number" name="premio" placeholder="$">
            </div>
            <div class="item-tarjeta">
                <label>Cargar imagen</label>
                <input class="foto" type="file" name="image" accept=".jpg" multiple>
            </div>
            <div class="botones-torneo">
                <div class="item-tarjeta boton-enviar">
                    <button type="submit">Crear Torneo</button>
                </div>
                <div class="item-tarjeta boton-enviar">
                    <a href="/userOwner/vistaCancha/<%= userOwnerLogged.id %>"><button type="submit">Volver</button></a>
                </div>
            </div>
        </div>
    </form>
</main>
</body>

</html>