<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <%- include('./headerOwner.ejs') %>
    <form action="/products/edit/<%= cancha.id %>?_method=PUT" method="POST">
        <img src="/images/products/" alt="product image">
        <div class="col-12 col-md-6">
            <label for="name" class="form-label">Nombre del lugar:</label>
            <input type="text" id="name" name="name" value="<%= cancha.identificacion %>>" class="form-input">
        </div>
    
        
    </form>
</body>
</html>