<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/headerCancha.css" rel="stylesheet" />
</head>

<body>
    <header class="main-header">
        <div class="menu">
          <div class="copy-header">
            <img src="/img/logo-rayas.png" alt="Logo de se juega?" class="logo">

            <a href="#" class="menu-hamburguesa">
              <i class="fa-solid fa-bars"></i>
            </a>

            <div class="menu-cont4">
              <a class="txtNav1" href="/userOwner/vistaCancha/<%= userOwner.id %>">Mi perfil</a>
              <a class="txtNav1" href="/userOwner/registrarCancha">Registrar canchas</a>
              <a class="txtNav1" href="/userOwner/registrarEscuelita"><i class="fa-solid fa-futbol"></i> Escuelita</a>
              <a class="txtNav4" href="/userOwner/crearTorneo"><i class="fa-solid fa-trophy"></i> Torneos</a>
              <a class="txtNav5" href="/userOwner/reservaCancha">
                <i class="fa-solid fa-calendar-days"></i> Reservas
              </a>
              <a class="txtNav2" href="#"><i class="fa-solid fa-bell"></i></a>
              <a class="txtNav6" href="/login/logoutCourt"><i class="fa-solid fa-arrow-right-from-bracket"></i> Chau
              </a>
    
            </div>
          </div>
        </div>
      </header>
</body>
</html>