<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/registrarCancha.css">
</head>
<body>

<form action="/userOwner/registrarCancha" method="POST" enctype="multipart/form-data">

    <div class="tarjeta">
        <div class="item-tarjeta">
            <label>Identificación de la cancha:</label>
            <input type="text" placeholder="Ej: Cancha 1" name="identificacion" required >
        </div>

        <div class="item-tarjeta">
            <label>Deporte:</label>
                <select id="deporte" name="deporte">
                    <option value="" >Elegir un deporte</option>
                    <option value="futbol">Futbol</option>
                    <option value="padel">Padel</option>
                    <option value="basquet">Basquet</option>
                    <option value="tenis">Tenis</option>
                    <option value="voley">Voley</option>
                </select>
        </div>

        
        <div class="item-tarjeta">
            <label>Cantidad de jugadores:</label>
            <input type="number" name="capacidad" placeholder="Ej: 10">
        </div> 

        <div class="item-tarjeta">
            <label>Tipo de cancha</label>
                <select id="deporte" name="tipoDeCancha">
                    <option value="" >Elegir una clase</option>
                    <option value="cespedS">Césped sintético</option>
                    <option value="cesped">Césped</option>
                    <option value="cemento">Cemento</option>
                    <option value="parque">Parqué</option>
                    <option value="ladrillo">Ladrillo</option>
                </select>
        </div>

        <div class="item-tarjeta">
            <label>Cargar imagen</label>
            <input class="foto" type="file" name="image" accept=".jpg .png" multiple>
        </div>
       
        <div class="item-tarjeta">
            <label>Precio:</label> <span> $ </span>
            <input type="number" name="valor" placeholder="Ej:pesos argentinos ">
        </div> 

        <!---<div class="otro-item-tarjeta">
            <div class="item-tarjeta"><label  name="horarios">Disponibilidad horaria:</label></div>
            <ol class="dias-horarios">
            <li class="dia-horario"><span class="dia lunes"> Lunes:</span>Desde <input type="time" class="form-control" id="horarios" name="registroHorarios"> Hasta <input type="time" class="form-control" id="horarios" name="registroHorarios"></li>
            <li class="dia-horario"><span class="dia martes">Martes: </span>Desde <input type="time" class="form-control" id="horarios" name="registroHorarios2"> Hasta <input type="time" class="form-control" id="horarios" name="registroHorarios"></li>
            <li class="dia-horario"><span class="dia miercoles">Miércoles:</span> Desde <input type="time" class="form-control" id="horarios" name="registroHorarios3"> Hasta <input type="time" class="form-control" id="horarios" name="registroHorarios"></li>
            <li class="dia-horario"><span class="dia jueves">Jueves:</span> Desde <input type="time" class="form-control" id="horarios" name="registroHorarios4"> Hasta <input type="time" class="form-control" id="horarios" name="registroHorarios"></li>
            <li class="dia-horario"><span class="dia viernes">Viernes:</span> Desde <input type="time" class="form-control" id="horarios" name="registroHorarios5"> Hasta <input type="time" class="form-control" id="horarios" name="registroHorarios"></li>
            <li class="dia-horario"><span class="dia sabado">Sábado:</span> Desde <input type="time" class="form-control" id="horarios" name="registroHorarios6"> Hasta <input type="time" class="form-control" id="horarios" name="registroHorarios"></li>
            <li class="dia-horario"><span class="dia domingo">Domingo:</span> Desde <input type="time" class="form-control" id="horarios" name="registroHorarios7"> Hasta <input type="time" class="form-control" id="horarios" name="registroHorarios"></li>
          </ol>
        </div>  --->

        <div class="item-tarjeta">
          <button type="submit" name="enviar">Enviar</button>
        </div>
    </div>
</form>
</body>
</html