<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Escuelita</title>

    <!--CSS PROPIOS-->
    <link rel="stylesheet" href="/css/registrarCancha.css">
    <link rel="stylesheet" href="/css/reservarCancha.css">
    <link rel="stylesheet" href="/css/globalForm.css">
    <!-- CSS EXTERNOS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Kalam&family=Roboto&display=swap"
        rel="stylesheet">
</head>

<body>

    <form action="/userOwner/registrarEscuelita" enctype="multipart/form-data" method="POST">
        <div class="tarjeta">
            <div class="item-tarjeta">
                <label name="registroDeDeporte">Deporte:</label>
                <select name="deporte" id="deporte">
                    <option selected disabled>Elegir opcion</option>
                    <option value="Futbol">Futbol</option>
                    <option value="Padel">Padel</option>
                    <option value="Basquet">Basquet</option>
                    <option value="Hockey">Hockey</option>
                    <option value="Tenis">Tenis</option>
                </select>
            </div>
            <div class="item-tarjeta">
                <label name="cantidad">Cantidad máx. de alumnos:</label>
                <input type="number" name="alumnos" id="alumnos">
            </div>
    
            <div class="edad">
                <div class="item-tarjeta">
                <label name="edad-min">Edad mínima:</label>
                <input type="number" name="edad-min" id="edad-min">
            </div>
            
            <div class="item-tarjeta">
                <label name="edad-max">Edad máxima:</label>
                <input type="number" name="edad-max" id="edad-max">
            </div>
            </div>
    
            <div class="item-tarjeta">
                <label name="lugar">Género:</label>
                <select name="genero" id="genero">
                    <option selected disabled>Elegir opción</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Mixto">Mixto</option>
                </select>
            </div>
    
            <div class="otro-item-tarjeta">
                <div class="item-tarjeta"><label name="horarios">Día a realizarse:</label></div>
                <select name="dia" id="dia">
                    <option selected disabled>Elegir día</option>
                    <option value="lunes">Lunes</option>
                    <option value="martes">Martes</option>
                    <option value="miercoles">Miércoles</option>
                    <option value="jueves">Jueves</option>
                    <option value="viernes">Viernes</option>
                    <option value="sabado">Sabado</option>
                    <option value="domingo">Domingo</option>
                </select>
                <input type="time" class="form-control horaio" id="horarios" name="registroHorarios">
            </div>
    
            <div class="item-tarjeta">
                <label name="premio">Valor mensual</label>
                <input type="number" placeholder="El valor mensual por alumno" name="valor" id="valor">
            </div>
    
            <div class="item-tarjeta boton-enviar">
                <button type="submit" name="enviar">Registrar</button>
            </div>
        </div>
    </form>

</body>

</html