<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Hoy se juega</title>

 <!--CSS PROPIOS-->
  <link href="/css/vistaCancha.css" rel="stylesheet" />
  <link href="/css/jdSlider.css" rel="stylesheet" />

  <%- include('../css-externos') %>
 
</head>

<%- include('./headerOwner') %>

<body>

  <main>

      </div>
    </section>
    <div class="datos-del-lugar">
      <h1>Club San Cristobal</h1>
      <h4>Dirección: Calle Tierra Fertil 4562 </h4>
    </div>
    <!---<p class="sin-canchas">Aún no tienes canchas registradas</p>--->


    <h2>Tus canchas:</h2> 
    <div class="tarjetas">
      <div class="tarjeta">
        <div class="blob"></div>
        <span class="img"><a href="/userOwner/agenda"><img src="/img/img-canchas/cancha-home.jpg" alt=""></a></span>
        <h3>Cancha 1</h3>
        
      </div>

      <div class="tarjeta">
        <div class="blob"></div>
        <span class="img"><a href="/userOwner/agenda"><img src="/img/img-canchas/otra-cancha.jpg" alt=""></a></span>
        <h3>Cancha 2</h3>
      </div>

        <div class="tarjeta">
          <div class="blob"></div>
          <span class="img"><a href="/userOwner/agenda"><img src="/img/img-canchas/cancha-paddle.jpg" alt=""></a></span>
          <h3>Cancha 3</h3>
          </div>
    </div>


  <h2>Tus escuelitas:</h2> 
    <div class="tarjetas">
      <div class="tarjeta tarjeta-esc">
        <div class="blob"></div>
        <span class="img img-escuelita"><a href="/userOwner/agenda"><img src="/img/pelota-de-futbol.png" alt=""></a></span>
        <h3>Futbol <br><span class="categoria">Categoría 2010</span> </h3>
        <p class="descrip-tarjeta-esc">
          <ul>
          <li>Profesor: Flavio Gutiérrez </li>
          <li>Día: Martes 16hs. </li>
          <li>Cancha: 2 </li>
          <li>Cantidad de alumnos: 7</li>
          <li>Precio: $3500</li></ul>
          </p>
 
            <button class="boton-eliminar"><i class="fa-solid fa-trash"></i></button>
  
            <button class="boton-editar"><i class="fa-solid fa-pencil"></i></button>

      </div>

      <div class="tarjeta tarjeta-esc">
        <div class="blob"></div>
        <span class="img img-escuelita"><a href="/userOwner/agenda"><img src="/img/palo-hockey.png" alt="" class="palo-hockey"></a></span>
        <h3>Hockey <br><span class="categoria"> Categoría Gorriones</span></h3>
        <p class="descrip-tarjeta-esc">
          <ul>
          <li>Profesor: Romina Salvado </li>
          <li>Día: Miércoles 20hs. </li>
          <li>Cancha: 1 </li>
          <li>Cantidad de alumnos: 10</li>
          <li>Precio: $2500</li></ul>
          </p>
 
            <button class="boton-eliminar"><i class="fa-solid fa-trash"></i></button>
  
            <button class="boton-editar"><i class="fa-solid fa-pencil"></i></button>
      </div>

        <div class="tarjeta tarjeta-esc">
          <div class="blob"></div>
          <span class="img img-escuelita"><a href="/userOwner/agenda"><img src="/img/raqueta-tenis.png" alt=""></a></span>
          <h3>Tenis<br><span class="categoria"> Categoría Alevines</span></h3>
          <p class="descrip-tarjeta-esc">
            <ul>
            <li>Profesor: Javier Dominguez </li>
            <li>Día: Jueves 19hs. </li>
            <li>Cancha: 3 </li>
            <li>Cantidad de alumnos: 4</li>
            <li>Precio: $6000</li></ul>
            </p>
   
              <button class="boton-eliminar"><i class="fa-solid fa-trash"></i></button>
    
              <button class="boton-editar"><i class="fa-solid fa-pencil"></i></button>
          </div>
    </div>


<div class="botones-registro">
    <button class="learn-more">
      <a href="/userOwner/registrarCancha"><span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Registrá tus canchas</span></a>

    </button>


    <button>
      <a href="/userOwner/registrarCancha" class="boton-registrar-cancha"> </a>
    </button>

<br><br>


    <button class="learn-more">
      <a href="/userOwner/registrarEscuelita"><span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Registrá tus escuelitas</span></a>

    </button>


    <button>
      <a href="/userOwner/registrarEscuelita" class="boton-registrar-cancha"> </a>
    </button>

    <br><br>

    <button class="learn-more">
      <a href="/userOwner/crearTorneo"><span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text"> Creá tus torneos</span></a>

    </button>


    <button>
      <a href="/userOwner/crearTorneo" class="boton-registrar-cancha"> </a>
    </button>
  </div>
  
    <br>
    <br>
    <br>
   
    <%- include('../footer') %>

  </main>
</body>
</html>