<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/footer.css" rel="stylesheet" />
</head>
<body>
    

</html><footer class="footer-main">

    <ul class="redes" type="none">
      <li>
        <a href="https://www.instagram.com" style="text-decoration:none">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com" style="text-decoration:none">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li><a href="https://www.whatsapp.com/?lang=es" style="text-decoration:none">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </li>
      <li><a href="mailto:frangarcia93@icloud.com" style="text-decoration:none">
          <i class="fa-regular fa-envelope"></i>
        </a>
      </li>
      <li><i class="fa-solid fa-screwdriver-wrench"></i></li>
    </ul>

  </footer>
</body>