<header class="main-header">
    <div class="menu-header">
      <div class="copy-header">
        <img src="/img/logo-rayas.png" alt="Logo de se juega?" class="logo">

        <section class="top-nav">
          <input id="menu-toggle" type="checkbox" />
          <label class='menu-button-container' for="menu-toggle">
          <div class='menu-button'></div>
        </label>
          <ul class="menu">
            <li><a class="txtNav1" href="/userPlayer/loginPlayer">Iniciar sesi贸n jugador</a></li>
            <li><a class="txtNav1" href="/userOwner/loginCourt">Iniciar sesi贸n cancha</a></li>
            <li><a class="txtNav2" href="/register">Registrarse</a></li>
            <li><a class="txtNav3" href="/sobreNosotros">Sobre Nosotros</a></li>
          </ul>
        </section>

        <!--<a href="#" class="menu-hamburguesa">
          <i class="fa-solid fa-bars"></i>
        </a>-->

        <div class="menu-cont">
          <a class="txtNav1" href="/userPlayer/loginPlayer">Iniciar sesi贸n jugador</a>
          <a class="txtNav1" href="/userOwner/loginCourt">Iniciar sesi贸n cancha</a>
          <a class="txtNav2" href="/register">Registrarse</a>
          <a class="txtNav3" href="/sobreNosotros">Sobre Nosotros</a>
        </div>
      </div>
    </div>
  </header>